@charset "utf-8";
/* CSS document */
.dis_rrs{ width:650px; margin:10px auto 0; }
.dis_rrs img{ display:block; }
.dis_rrs .dr_btn{ height:69px; padding:132px 0 0 256px; background:url(img/unsubscribe/disrrs_pic03.jpg) no-repeat; }
.dis_rrs .dr_why{ height:110px; padding:80px 0 0 210px; background:url(img/unsubscribe/disrrs_pic04.jpg) no-repeat; }
.dr_why p{ margin-bottom:12px; color:#FFF; }
.dr_why p input,.dr_why p span{ display:inline; float:left; margin-right:5px; font-size:12px; color:#FFF; }
.dr_why p input.dr_txt{ width:180px; padding:1px; border-width:0 0 1px; background-color:transparent; }
.dis_rrs .dr_sure{ height:96px; background:url(img/unsubscribe/disrrs_pic05.jpg) no-repeat; }
.dr_sure .drs_txt input{ width:180px; padding:1px; margin:16px 0 0 440px; border-width:0 0 1px; border-bottom-color:#000; background-color:transparent; }
.dr_sure .drs_btn{ padding:12px 0 0 256px; }