
.subscribe {
    background: none repeat scroll 0 0 #FFF7EE;
    border: 1px solid #F5862C;
    display: none;
    height: auto;
    padding: 1px;
    position: absolute;
    width: 460px;
    z-index: 999;
}
.subscribe h3 {
    background: none repeat scroll 0 0 #FFD088;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}
.subscribe h3 span {
    display: block;
    float: left;
    height: 22px;
    padding-left: 8px;
    width: 75%;
}
.subscribe h3 a {
    display: block;
    float: right;
    font-weight: normal;
    height: 22px;
    overflow: hidden;
    width: 45px;
}
.subscribe h3 a:link, .subscribe h3 a:visited {
    color: #5B5B5B;
    text-decoration: none;
}
.subscribe h3 a:hover {
    color: #F17700;
    text-decoration: none;
}
.subscribe .sub_info {
    color: #333333;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 15px 2px 40px;
}
.subscribe .sub_info p {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.subscribe .sub_info h2 {
    color: #B60303;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}
.subscribe .pc {
    text-align: center;
}
.subscribe .sub_form {
    padding-left: 40px;
}
.subscribe .sub_form p {
    height: 20px;
    line-height: 20px;
    margin: 20px 0 10px;
}
.subscribe dl.subs_form {
    font-size: 12px;
    width: 300px;
}
.subscribe dl.subs_form span {
    margin-top: 5px;
}
.subscribe dl.subs_form:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.subscribe dl.subs_form dt {
    clear: left;
    display: block;
    float: left;
    height: 30px;
    line-height: 24px;
    width: 88px;
}
.subscribe dl.subs_form dd {
    display: block;
    float: left;
    height: 30px;
    overflow: hidden;
    width: 200px;
}
.subscribe dl.subs_form dd input {
    color: #404040;
    height: 20px;
    line-height: 20px;
}
.subscribe dl.subs_form dd.dy_yzm {
    float: left;
    padding-left: 88px;
}
.subscribe dl.subs_form dd.dy_yzm input {
    float: left;
    width: 85px;
}
.subscribe dl.subs_form dd.dy_yzm a {
    background: url("img/tcbutton1.jpg") repeat scroll 0 0 transparent;
    float: left;
    height: 25px;
    margin-left: 8px;
    width: 89px;
}
.sub_submit {
    clear: both;
    height: 32px;
    padding: 20px 150px;
    text-align: center;
}
.sub_submit a {
    background: url("img/dytc_09.jpg") repeat scroll 0 0 transparent;
    float: left;
    height: 31px;
    width: 114px;
}
.subscribe dl.subs_form dd strong {
    color: #FF0000;
    font-family: Simsun;
    font-weight: normal;
}
.subscribe dd input {
    width: 180px;
}
.subscribe dl.subs_form dt.ldt {
    width: 200px;
}
