@charset "utf-8";
/* CSS Document */

/*elements width_1024 pages for:2011-08-03*/
.all_elementsPages_wid,.s_menu .all_elementsPages_wid{width:1024px;}
.all_elementsPages_wid .g-n ul{ padding-left:30px;}

.all_elementsPages_wid .p-main .elementsRightBre,
.all_elementsPages_wid .p-main .p-main-right .l-b,
.all_elementsPages_wid .p-main .p-main-right .l-b .page_div,
.all_elementsPages_wid .e_img_div{width:800px;}

.all_elementsPages_wid .p-main .p-main-right .j-s .r_t{width:780px;}
.all_elementsPages_wid .p-main .p-main-right .show_list_modle{width:798px;}
.all_elementsPages_wid .e_img_div ul{ width:820px;}
.all_elementsPages_wid  .e_img_div ul li{ width:200px;}
.all_elementsPages_wid .e_img_div .img_a,.all_elementsPages_wid .e_img_div .img_a img{ width:180px; height:180px;}
.all_elementsPages_wid .e_img_div .img_a span img{ height:45px; width:57px;}
.all_elementsPages_wid .e_img_div .scrollImg .scr_mask{ width:180px;}
.all_elementsPages_wid .e_img_div .scrollImg{ height:186px;}
.all_elementsPages_wid .e_img_div .scr_div{margin-left:6px;width:170px;}
.all_elementsPages_wid .page_div .checkbox{ width:100px;}
.all_elementsPages_wid .e_img_div .scr_div .elemenetscrollDiv{margin-left:20px;}
