#reginfo{ margin:10px auto 20px auto; width:950px; height:296px; background:url(bg_404.jpg) repeat-x; overflow:hidden; position:relative;}
#rinfo{ margin-top:50px; margin-left:200px; height:72px; }
#rinfo p{ font-size:14px;}
#rinfo p strong{ color:#F26520;}
#sendinfo{margin:10px auto 20px auto; width:950px; background:url(bg_404.jpg) repeat-x left bottom;*zoom:1; padding:40px 0;}
#sendinfo:after{ clear:both; display:block; content:"\0020"; height:0; visibility:hidden;}
#png{float:left; margin-right:25px;width:44px;height:57px;}
html>body #png { background:url(bg_ok.png) no-repeat;}
html #png{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale', src='images/bg_ok.png');}
.butbox{ margin-top:20px; margin-left:280px;}
.butbox input{ margin-right:75px;}
.binfo{ height:45px; position:absolute; left:0; bottom:0; width:950px; background:#bebebe; clear:both;}
.binfo img{ float:left; display:block;}
.leftinfo{ float:left; width:475px;  padding-left:120px; padding-right:10px;}
.leftinfo p{ font-size:14px;}
.rightinfo{ border-right:#bababa 1px solid;border-bottom:#bababa 1px solid; border-top:#F2F2F2 1px solid; border-left:#F2F2F2 1px solid; width:235px; float:left; padding:0 10px;*padding:10px;}
.rightinfo p{ line-height:20px;}
.leftinfo p strong{color:#F26520;}
.mar20b{ margin-bottom:20px; margin-top:10px;}
.loadbut{ clear:both; padding-left:70px; padding-top:20px;}
.loadbut p{ font-size:12px; line-height:20px;}
.cOra{color:#F26520;}
.blue2l:link,.blue2l:visited,.blue2l:hover,.blue2l:active{ color:#181c97; text-decoration:underline;}
.winbox{ width:292px;}
.twb{ height:4px; background:url(bgtwb.png) no-repeat; overflow:hidden; }
.fwb{ height:4px; background:url(bgfwb.png) no-repeat; overflow:hidden; }
.cwb{ padding:0 12px 10px 12px; border-left:#FF9764 1px solid; background:url(bgcwb.png) repeat-y right top;}
.dttable{ line-height:18px; color:#646464;}
.dttable td{ border-bottom:#eaeaea 1px solid; height:50px;}
.linkO:link,.linkO:visited{ text-decoration:underline;color:#F26520;}
.linkO:hover{text-decoration:none;}
.linkB2:link,.linkB2:visited{ text-decoration:underline;color:#000;}
.linkB2:hover{text-decoration:none; color:#FF9900;}
.linkG2:link,.linkG2:visited{ text-decoration:none;color:#646464;}
.linkG2:hover{text-decoration:none; color:#FF9900; text-decoration:underline;}

.openWin{ color:#FD6900; padding-top:6px; padding-bottom:18px; position:relative; z-index:99; width:275px;}
.topOW:after,.botOW:after{ display:block; clear:both; content:"\0020"; height:0; visibility:hidden;}
.topOW{ height:6px; overflow:hidden;*zoom:1; background:url(http://images.xiu.com/popup/win_bg.png) repeat-x 0 -42px; position:absolute; width:100%; top:0; left:0;}
.topOW span{ display:block; float:left; width:6px; height:6px; background:url(http://images.xiu.com/popup/win_bg.png) no-repeat;}
.topOW em{ display:block; float:right; width:6px; height:6px;background:url(http://images.xiu.com/popup/win_bg.png) no-repeat top right;}
.botOW{ height:18px; overflow:hidden;*zoom:1;background:url(http://images.xiu.com/popup/win_bg.png) repeat-x 0 -23px;width:100%; position:absolute; width:100%; bottom:0; left:0;}
.botOW span{ display:block; float:left; width:56px; height:17px;background:url(http://images.xiu.com/popup/win_bg.png) no-repeat 0 -6px;}
.botOW em{ display:block; float:right; width:6px; height:17px;background:url(http://images.xiu.com/popup/win_bg.png) no-repeat right -6px;}
.cOW{ border-left:#F27330 1px solid; height:100%; background:url(http://images.xiu.com/popup/win_r3_c8.png) #FEF6EB repeat-y right top; padding:0 12px; line-height:18px;}

.winli{  margin-bottom:-3px;  border-bottom:#fff 1px solid; position:relative;}
.winli_td1{ background:url(bgwli.png) no-repeat left top; width:22px; height:24px;}
.winli_td2{ border-top:#FF9560 1px solid; line-height:24px; background:#fff;}
.winli_td2 strong{ color:#f26521;}
.winli_td3{ background:url(bgwli.png) no-repeat right top;width:7px; height:24px;}
.padBoth{ padding:5px 12px 0 12px;}

.bwin{ border:#F58531 1px solid; background:#FFF7EE;width:350px; font-size:12px;padding-bottom:12px; text-align:center; color:#333;}
.bwin h4{ font-size:12px; font-weight:bold; background:#FECF87;  color:#000; padding-left:7px; height:22px; line-height:22px; margin:2px; margin-bottom:15px; text-align:left; }
.bwin h4 a{ font-weight:normal; float:right; padding-right:10px;*margin-top:-22px;}
.bwin h4 a:link,.bwin h4 a:visited{ color:#5b5b5b; text-decoration:none;}
.bwin h4 a:hover{ color:#F17700;}
.winInfo{ text-align:left; padding:0 10px; line-height:18px;}

/** 详细页面弹窗统一样式 **/
.poswin{ width:380px; background:#FFF7EE; height:auto; padding:2px; border:#F5862C 1px solid; position:relative; }
.poswin h3{ height:22px; line-height:22px; background:#FFD088; margin:0; padding:0; font-size:12px;*zoom:1;}
.poswin h3 span{ width:75%; height:22px; float:left; display:block; padding-left:8px;}
.poswin h3 a{ float:right; width:45px; height:22px; overflow:hidden; display:block; font-weight:normal;}
.poswin h3 a:link,.poswin h3 a:visited{ color:#5B5B5B; text-decoration:none;}
.poswin h3 a:hover{ color:#F17700; text-decoration:none;}
.poswin .info{ line-height:18px; color:#333; padding:10px 15px; font-size:12px;}
.poswin .pc{ text-align:center;}
.win-submit{ text-align:center; padding:0 0 10px 0; clear:both;}
.win-submit input{ margin:0 10px;}
.shade{ position:absolute; width:100%; height:100%; top:10px; left:-10px; background:#CCCC33;*zoom:1;}
.poswin dl.form{  margin:0 auto; font-size:12px;*zoom:1; width:270px;}
.poswin dl.form:after{ display:block; clear:both; content:'\0020'; visibility:hidden; height:0;padding:0; margin:0; }
.poswin dl.form dt{ float:left; clear:left;  width:60px; display:block; height:24px; padding:0; margin:0; line-height:24px; padding-bottom:5px; }
.poswin dl.form dd{ float:left; display:block;height:24px; width:200px; overflow:hidden;padding:0; margin:0;padding-bottom:5px; }
.poswin dl.form dd strong{ color:#FF0000; font-family:Simsun; font-weight:normal;}
.poswin dd input{ width:180px;}
.poswin dl.form dt.ldt{ width:200px;}
.poswin .popsuc{ background:url(suc.gif) no-repeat; padding-left:60px; margin-left:85px; font-size:12px; height:auto!important; height:50px; min-height:50px; line-height:22px; padding-top:10px; margin-top:15px; margin-bottom:15px;}
.poswin .popsuc a:link,.poswin .popsuc a:visited{color:#181D95; text-decoration:underline;}
.poswin .popsuc a:hover{text-decoration:none;}

a.goods_notice{text-decoration: underline;}