@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px; }
body{ font:12px tahoma, arial, 宋体, sans-serif; color:#636363; }
ul,li,dl,dd,dt{ list-style:none; }
img{ border:0 none; }
a{ color:#5b5b5b; text-decoration:none; }
a:hover{ color:#fbaf5c; }

/*===公用样式===*/
.center{ margin:0 auto; }
/*.hot{ display:block; position:absolute; top:3px; right:-5px; width:21px; height:12px; background:url(img/header/hot.gif) no-repeat; }*/
.icon{ background:url(img/channel/icon_list.gif) no-repeat; }
.bord_box{ margin-bottom:10px; padding:1px; border:1px solid #e0dfdf; }
.bord_box h3{ height:27px; line-height:27px; padding-left:11px; font-size:14px; color:#333; background-color:#ededed; }
.price{ display:block; margin:3px 0; font-family:Microsoft YaHei,"微软雅黑"; color:#636363!important; }
.price ins{ padding-right:10px; font-size:18px; text-decoration:none; }
.price ins em{ font-style:normal; color:#e20016; }
.price del{ font-family:"宋体"; color:#959595; }
.last_p{ padding-right:0px; }
.red{ color:#ff0000; }
.sprite{ background:url(img/header/head_img_list.gif) no-repeat; }
.clearfixed{ clear:both; height:0px; line-height:0px; }
.clearfix{ zoom:1; }
.clearfix:after{ display:block; clear:both; content:'.'; height:0px; line-height:0px; visibility:hidden; }
.iepngfix{ behavior:url(Style/iepngfix.htc); }
.iepngfixed{}


/*--我的走秀--*/
.user .my_xiu{ position:relative; z-index:999; text-align:left; }
.my_xiu .myXiu_con{ display:none; position:absolute; z-index:999; top:-4px; left:-6px; width:80px; height:70px; background:url(img/header/head_img_list.gif) no-repeat -34px -120px; }
.myXiu_con a{ display:block; margin:5px 0 0 1px; }

/*--购物袋--*/
.my_bag{ display:none; position:relative; z-index:999; }
.my_bag .myBag_box{ position:absolute; top:-20px; left:-124px; z-index:999; width:336px; }
.myBag_box .bag_t{ height:24px; padding-top:3px; text-align:center; background:url(img/header/bags_k.png) no-repeat; }
.bag_t span{ padding:0 3px 0 15px; background:url(img/header/head_img_list.gif) no-repeat 0 -191px; }
.bag_t span b{ color:#f26521; }
.my_bag .bag_con{ height:auto!important; min-height:10em; height:10em; padding:0 10px; text-align:left; background:url(img/header/img_repeat_y.png) repeat-y; }
.bag_con td{ padding:10px 0; border-bottom:1px solid #eaeaea; }
.bag_con span{ padding:0 3px!important; font-weight:bold; color:#f26521; }
.bag_con p{ line-height:25px; }
.bag_con p a{ margin-left:35px; text-decoration:underline; color:#fbaf5c; }
.bag_con .btn_box a{ display:inline-block; width:135px; height:24px; background:url(img/header/head_img_list.gif) no-repeat 0 -233px; }
.btn_box a.add{ width:116px; margin:8px 10px 0 0; background-position:0 -208px; }
.myBag_box .bag_f{ height:10px; background:url(img/header/bags_k.png) no-repeat 0 -28px; }

/*--全部商品分类和品牌--*/
.out_box{ display:none; position:relative; z-index:100; width:950px; margin:0 auto; }
.out_box ul{ position:absolute; z-index:999; top:-42px; left:0; width:166px; height:282px; padding:30px 0 0 40px; background:url(img/header/list_catalog.jpg) no-repeat; }
.out_box li{ cursor:pointer; }
.out_box li .type_one{ height:46px; line-height:46px; color:#acacac; }
.type_one a,.type_one span{ padding-right:5px; }
.type_one a{ font-weight:bold; color:#FFF; }
.type_one a:hover,.type_one a.over{ color:#fbaf5c; }
.out_box li .layer_box{ position:relative; z-index:100; }
.layer_box .layer_con{ display:none; position:absolute; z-index:999; top:-68px; left:130px; width:560px; padding:7px 0 7px 18px; border:3px solid #e70017; background:#FFF url(img/header/layer_bg_y.gif) repeat-y right; cursor:text; }
.layer_con h5{ margin-bottom:5px; font-size:12px; }
.layer_con dt,.layer_con dd{ line-height:18px; }
.layer_con .outLayer_l,.layer_con .outLayer_r{ display:inline; float:left; width:360px; }
/*-左边-*/
.outLayer_l dl{ margin-bottom:10px; padding-bottom:5px; border-bottom:1px dotted #a8a8a8; }
.outLayer_l dt a{ font-weight:bold; }
.outLayer_l dd{ text-indent:-0.6em; color:#a8a8a8; }
.outLayer_l dd a{ margin:0 6px; }
.layer_box .layer_arrow{ display:block; position:absolute; z-index:999; top:22px; left:-13px; width:13px; height:39px; background:url(img/header/border_arrow.png) no-repeat; }
.out_box li.all_pro{ padding:22px 0 0 36px; }
.out_box li.all_pro a{ color:#FFF; }
.out_box li.all_pro a:hover{ color:#fbaf5c; }
/*右边*/
.layer_con .outLayer_r{ float:right; width:150px; padding-left:16px; }
.outLayer_r dt{ font-weight:bold; }
.outLayer_r dd a{ display:inline; float:left; width:75px; height:15px; margin-bottom:6px; overflow:hidden; }
.outLayer_r .more_brand{ margin:8px 0; }
.outLayer_r .more_brand a{ font:12px "宋体"; color:#ff0000; }

/*==页面结构==*/
#header{}
#header .head_con{}
#header .headCon_top{ background:url(img/header/nav_line.gif) repeat-x bottom; }
.head_con .head_top,.head_con .nav,#header .head_bottom{ width:950px; }

/*-快速入口-*/
.head_con .head_top{ height:59px; padding:6px 0 5px; _overflow:hidden; }
.head_top .logo,.head_top .logo_right{ display:inline; float:left; width:194px; height:59px; margin:0 0 0 13px; }
.head_top .logo_right{ float:right; width:726px; margin:0 13px 0 0; text-align:right; }
.logo_right p.top_link{ height:21px; }
.top_link span,.top_link a{ display:inline-block; height:20px; padding:0 7px; line-height:23px; _line-height:20px; }
.top_link span b{ font-size:16px; color:#f26521; }
.top_link a.rrs{ width:61px; text-align:center; color:#FFF; background-position:0 -99px; }
.top_link a.rrs:hover{ background-position:-76px -99px; }
.logo_right .info{ height:20px; padding-top:18px; }
.info .user,.info .guest,.info ul{ display:inline; float:right; }
.info ul{ width:266px; }
.info li{ display:inline; float:right; margin-left:8px; background:url(img/header/line.gif) no-repeat left 2px; }
.info li a.bag{ display:inline-block; padding-left:15px; margin-left:8px; background-position:0 -191px; }
.user p,.user .my_xiu{ display:inline; float:left; }
.my_xiu a.mine{ padding-right:14px; margin-left:2px; text-align:left; background:url(img/header/arrow_down.gif) no-repeat right 6px; }
.info a,.info span{ display:inline-block; height:17px; line-height:17px; }
.info a{ margin-left:8px; }
.info .user p a,.info .guest p a{ margin-left:0px; }
.info .user p a.logout{ padding-right:8px; margin-right:6px; background:url(img/header/line.gif) no-repeat right 2px; }

/*-导航-*/
.head_con .nav{ height:32px; overflow:hidden; background:url(img/header/head_img_list.gif) repeat-x 0 -66px; }
.nav .nav_left,.nav .nav_right{ height:32px; background-position:0 0; }
.nav .nav_right{ background-position:right -33px; }
.nav ul,.nav li{ height:32px; line-height:32px; }
.nav ul{ padding-left:39px; *padding-left:38px; _padding-left:38px; }
.nav li{ display:inline; float:left; position:relative; padding:0 18px; text-align:center; }
.nav li a{ display:block; font-size:14px; color:#FFF; }
.nav li a:hover{ color:#fbaf5c; }

/*-导航下面部分-*/
#header .head_bottom{ height:47px; background:url(img/header/head_img_list.gif) repeat-x 0 -306px; }
.head_bottom .headB_left,.head_bottom .headB_right{ height:47px; background-position:0 -258px; }
.head_bottom .headB_right{ background-position:right -354px; }
.head_bottom .headBottom_con{ padding:5px 23px 0; }
.headBottom_con .all_type,.headBottom_con .search,.headBottom_con .other,.headBottom_con .headBC_right{ display:inline; float:left; }
.search{ width:160px; height:25px; line-height:25px; margin-right:8px; background:url(img/header/head_img_list.gif) no-repeat 0 -412px; }
.search input{ display:inline; float:left; width:120px; height:19px; margin:4px 0 0 5px; margin-top:5px\0; *margin-top:5px; _margin-top:5px; border:0 none; font-size:12px; background-color:transparent; }
.search input.s_btn{ width:27px; margin:4px 0 0 2px; cursor:pointer; }
.other{ height:25px; line-height:25px; }
.other a{ padding:0 2px; }
.headBottom_con .headBC_right{ float:right; width:508px; margin-top:4px; text-align:right; }
.headBC_right span{ display:inline-block; }
.headBC_right span.active,.headBC_right span.popular{ width:33px; height:16px; height:14px\0; *height:14px; _height:16px; padding-top:2px\0; *padding-top:2px; _padding-top:0px; text-align:center; color:#FFF; background:url(img/header/head_img_list.gif) no-repeat 0 -154px; }
.headBC_right span.popular{ margin-left:20px; background-position:0 -120px; }
.headBC_right span a{ padding:0 6px; }

.all_type{ margin-right:25px; }
.all_type h3{ width:180px; height:25px; line-height:25px; text-indent:1em; font-size:14px; color:#e70017; background:url(img/header/head_img_list.gif) no-repeat 0 -438px; cursor:pointer; }


/*====950版（说明：只需要在样式名为：“head_con”的，页面结构上面加上重定义样式名：“widthfix”）即可，下面是重定义了某些样式，以求达到各个浏览器的兼容性===*/
/*.widthfix .head_top,.widthfix .nav,.widthfix .nav ul,.widthfix .head_bottom,.widthfix .out_box{ width:950px!important; }
.widthfix .nav ul{ padding-left:4.5%!important; }
.widthfix .nav ul li{ padding:0 1.8%; }
.widthfix .my_bag{ right:263px; right:261px\0; *right:250px; _right:250px; }
.widthfix .my_xiu{ right:479px; right:477px\0; *right:468px; _right:466px; }
.widthfix .headBC_right{ width:508px; text-align:right; }*/