body { margin:0px; font-size:12px; }
#bd { width:950px; margin:5px auto 10px auto; clear:both; }
#leftcol { float:left; width:206px; }
#maincol { float:right; width:732px; }
.tithelp { height:70px; background:url(img/bghelp.png) no-repeat; }
.tithelp span { display:none; }
.help_lbox { border:#DFDFDF 1px solid; padding:1px; background:#fff; }
.help_lbox h3 { height:26px; }
.help_lbox h3 span { display:none; }
.help_lbox h3.t02 { background:url(img/bghelp.png) no-repeat 0 -116px; }
.help_lbox h3.t03 { background:url(img/bghelp.png) no-repeat 0 -142px; }
.help_lbox h3.t01 { background:url(img/bghelp.png) no-repeat 0 -168px; }
.help_detail { border:#d5d5d5 1px solid; border-top:none; padding:1px; background:#fafafa; }
.help_detail h3 { background:#d7d7d7; padding-left:18px; line-height:26px; color:#000 }
.help_detail ul { padding:0 10px }
.help_detail li { height:28px; list-style-type:square; color:#FFC06F; background:url(img/bghelp.png) no-repeat 0 -203px; padding-left:18px; line-height:28px; overflow:hidden; }
.help_detail li.noline { background:none; }
.self-service { padding:10px 0 10px 5px; }
.self-service li { float:left; width:84px; height:32px; padding:5px 6px; font-size:14px; text-align:center; }
.self-service li a:link, .self-service li a:visited { display:block; width:84px; height:32px; color:#fff; background:url(img/bghelp.png) no-repeat 0 -79px; line-height:32px; }
.self-service li a:hover { color:#fff; background:url(img/bghelp.png) no-repeat -96px -79px; }
.faq { padding:3px 10px 12px 10px; }
.faq ul { background:url(img/ico_num.gif) no-repeat; }
.faq li { height:28px; background:url(img/bghelp.png) no-repeat 0 -203px; padding-left:18px; line-height:28px; overflow:hidden; }
.customer-service { color:#7F7F7F; padding:0 10px; }
.customer-service li { height:22px; margin:8px 0; }
.customer-service li span { width:81px; height:21px; background:url(img/bghelp.png) no-repeat 0 -247px; display:inline-block; line-height:22px; text-align:center; margin:0 5px; }
.customer-service li.li01 { padding-bottom:5px; padding-top:10px; }
.customer-service li.li02 { padding-left:25px; background:url(img/bghelp.png) no-repeat -184px -238px; }
.customer-service li.li03 { padding-left:25px; background:url(img/bghelp.png) no-repeat -184px -262px; }
.customer-service li.li04 { padding-left:25px; background:url(img/bghelp.png) no-repeat -184px -286px; }
.stepbuy { margin:10px 0; }
.mbox { margin-top:10px; color:#5b5b5b; }
.mbox .toptit { height:33px; background:url(img/bg_box.gif) no-repeat 0 0; line-height:32px; font-weight:bold; font-size:14px; padding-left:20px; }
.mbox .toptit span { color:#C4C2C3; margin-left:5px; }
.mbox .bottom { height:10px; overflow:hidden; background:url(img/bg_box.gif) no-repeat 0 -65px; }
.mbox .cbox { border-left:#d1d1d1 1px solid; border-right:#d1d1d1 1px solid; padding:8px 10px 0 20px; line-height:28px; font-size:14px; }
.clearfix:after { content:"\0020"; clear:both; display:block; visibility: hidden; font-size: 0; height: 0; }
.clearfix { *zoom:1;
}
.nowPosition { margin-bottom:6px; font-size:14px }
#maincol .mbox { margin:0 0 10px 0 }
#maincol .help_title { background:url(img/help/help_title.jpg) no-repeat; width:732px; height:81px; }
#maincol .help_bottom { background:url(img/help/help_bottom.jpg) no-repeat; width:732px; height:20px; clear:both }
#maincol .help_title img { margin-top:22px; margin-left:34px; }
#maincol .help_content { background:url(img/help/help_center.jpg) repeat-y; width:662px; height:auto; padding:2px 35px 20px 35px; line-height:26px; }
#maincol .help_content h2,#maincol .help_content h3,#maincol .help_content h1{ display:block; text-indent:-999px; height:1px; line-height:1px; overflow:hidden;}
#maincol .help_content #help_cont_main { margin:0 }
#maincol .help_content #help_cont_main h3 { color:#F49000 }
#help_cont_faq_fl h3, #help_cont_faq_fr h3 { color:#f49000; padding-left:20px; background: url(img/help/li.gif) no-repeat left 8px; }
#help_main h4, #help_cont_main h4 { color:#000; }
#help_cont_main { font-size:14px; }
#help_cont_main span, #help_cont_faq_answer span { display:block; padding-left:50px; margin-bottom:20px; color:#444; }
#help_cont_main img { margin:8px 0 0 8px; }
#help_cont_main2 img { margin:0; display:block }
#help_cont_faq_fl { float: left; }
#help_cont_faq_fr { margin-left:47%; border-left:1px #aaa dashed; }
#help_cont_faq_fl, #help_cont_faq_fr { font-size:12px; line-height:24px; width:47%; }
#help_cont_faq_fl h3, #help_cont_faq_fr h3 { color:#000; margin-left:40px; padding-left:20px; font-size:12px; font-weight:normal; background: url(img/help/li.gif) no-repeat left 8px; }
#help_cont_main h3 { margin:10px 0 6px 0; clear:both }
#help_cont_main dl { }
#help_cont_main dt { width:90px; float:left; font-weight:bold }
#help_cont_main dd { margin-left:90px }
#help_cont_main .red { color: #F00; font-style:normal }
#help_cont_main h2 { margin: 0 20px 10px 0; font-size:14px; line-height:24px; font-weight:bolder; color:#000; }
#help_cont_main table { margin-bottom:20px; border-collapse:collapse; font-size: 12px; }
#help_cont_main td { border:1px #666 solid; padding-left:10px; }
#help_cont_main th { background:#ddd; border:1px #666 solid; padding-left:10px; text-align:left; font-weight:normal; }
#help_cont_main a strong { text-decoration:underline }
#help_cont_main p { }
h3.local{ font-weight:normal; width:950px; margin:5px auto 10px auto; clear:both;font-size:12px;}