@charset "utf-8";

/**== 商品分类_start  ==**/
.main{width:950px; margin:0 auto;}
.main p{color:#000000}
.dh{ background: url(img/s_j.gif) 10px 5px no-repeat ;padding-left:25px;  border-bottom:1px solid #e5e5e5; padding-bottom:10px; color:#000;}
.dh a{ color:#000;}
.pro_con{margin-top:15px; display:table;}

/**== 商品详细 左边  ==**/    
.con_left{ width:725px; float:left;}
.con_left .p_map{width:315px; float:left}
.con_left .big_map{border:1px solid #ccc; position:relative;padding:5px;  height:303px; width:303px; z-index:99;}
.con_left .big_map .layer_l,.con_left .big_map .layer_r,.con_left .big_map .layer_rl{position:absolute;}
.con_left .big_map .layer_l img,.con_left .big_map .layer_r img{height:45px;width:57px;overflow:hidden;}
.con_left .big_map .layer_l{left:0;top:0;}
.con_left .big_map .layer_r{right:0;top:0;}
.con_left .big_map .layer_rl{right:10px;bottom:25px;}

.con_left .big_map .big_Img{ height:302px; width:302px; cursor:crosshair;}
.con_left .big_map .big_span{ position:absolute; bottom:5px; height:20px; background:#000; left:5px;filter:alpha(opacity=70); opacity:0.7; color:#fff; display:block; width:302px; text-align:center;}
.con_left .big_map .big_span img{vertical-align:middle; margin-right:5px;}
.con_left .big_map .ImgViewer{ width:350px; height:350px; position:absolute; left:320px; top:0; overflow:hidden; z-index:99; border:1px solid #ccc; display:none;}

.con_left .sm_map{ margin-top:10px; height:65px; width:315px; overflow:hidden;}
.con_left .sm_map dl{ width:350px;}
.con_left .sm_map dd{ background:url(img/s_map_bg2.gif) no-repeat; width:54px; height:58px; float:left; margin-right:4px; display:inline;}
.con_left .sm_map dd a{ display:block; height:49px; width:48px; overflow:hidden; border:1px solid #fff; margin:5px auto 0 auto;}
.con_left .sm_map dd.l_bar,.con_left .sm_map dd.r_bar{background:none; width:10px;}
.con_left .sm_map dd.l_bar a{ background:url(img/l_bar.jpg) 0 0 no-repeat;}
.con_left .sm_map dd.l_bar a:hover{ background:url(img/l_bar_h.jpg) 0 0 no-repeat;}
.con_left .sm_map dd.r_bar a{ background:url(img/r_bar.jpg) 0 0 no-repeat;}
.con_left .sm_map dd.r_bar a:hover{ background:url(img/r_bar_h.jpg) 0 0 no-repeat;}
.con_left .sm_map dd.l_bar a,.con_left .sm_map dd.r_bar a{ width:10px; height:35px; margin-top:20px;}
.con_left .sm_map dd.dc{background:url(img/s_map_bg.gif) no-repeat;}
.con_left .p_jx{ width:395px; float:right}
.con_left .p_jx .p_title{ font-size:20px;font-weight:bold; color:#000; border-bottom:1px dashed #666; padding-bottom:10px;}
.con_left .p_jx .xxjx{ padding:5px; position:relative; z-index:2;}
.con_left .p_jx .xxjx p{ line-height:30px;}
.con_left .p_jx .xxjx p.col1{
	color:#666;
	line-height:30px;
	height:30px;
	position:relative;
}
.con_left .p_jx .xxjx p.col1 #t_u{display:block; height:22px; width:75px; overflow:hidden;  background:url(../../img/pic_yhxc.jpg) 0 0 no-repeat;  position:absolute; top:9px; right:-10px;}

.con_left .p_jx .xxjx p.col1 img{ vertical-align:middle;}
.con_left .p_jx .xxjx span.style1{ color:#666}
.con_left .p_jx span.style2{ padding-bottom:5px; height:18px; line-height:18px; display:block;}
.con_left .p_jx .xxjx span.style3{ color:#f7941c; font-size:20px; font-weight:bold; background:url(img/meoney.jpg) 0 6px no-repeat; padding-left:15px;}
.con_left .p_jx .xxjx span.style32{ color:#e60012; font-size:20px; font-weight:bold; background:url(img/meoney.jpg) 0 6px no-repeat; padding-left:15px;}
.con_left .p_jx .xxjx .layer10{ font-size:18px;font-weight:bold; margin:0 5px; color:#e60012;}
.con_left .p_jx .xxjx .layer11 span{font-size:18px;font-weight:bold; margin:0 5px; color:#646464;}
.con_left .p_jx .xxjx .layer12 b{color:#000; padding:0 3px;}
.con_left .p_jx .cm{ display: table; float:left; border:1px solid #e5e1e1; padding:1px;}
.con_left .p_jx .cm .modleDiv{ background:#f6f6f6; padding:10px; width:375px;}
.cm_hz{  margin-bottom:5px; float:left; width:100%;}
.cm_hz img{ margin:0 3px;}
.con_left .p_jx .cm p{ line-height:40px; color:#666;}
.buy_it{height:45px; clear:both; position:relative; z-index:1; width:380px;}
.buy_it a{color:#555;}
.buy_it a:hover{color:#f17700;}
.buy_it a#stageLink,.buy_it a#t_p{ left:190px; background:url(img/fqfk.gif) 0 0 no-repeat; height:24px; width:89px; line-height:24px; text-indent:34px; position:absolute; top:10px; z-index:999; }
.buy_it a.sc_t{ right:5px; background:url(img/sc.png) 0 0 no-repeat; height:24px; line-height:24px; width:85px; text-indent:24px; position:absolute; top:10px; z-index:999; }
.buy_it a.user_buy1,.buy_it a.user_buy2,.buy_it a.user_buy3,.buy_it a.user_buy4,.buy_it a.user_buy5{ background:url(img/user_buy.jpg) 0 0 no-repeat; overflow:hidden; height:44px; width:186px; display:block; float:left; position:static;}
.buy_it a.user_buy1{background-position:0 -44px;} /**放入购物袋**/
.buy_it a.user_buy1:hover{ background-position:0 0;}
.buy_it a.user_buy2{background-position:0 -132px;}  /**到货通知**/
.buy_it a.user_buy2:hover{ background-position:0 -88px;}
.buy_it a.user_buy3{background-position:0 -220px;} /**即将开始**/
.buy_it a.user_buy3:hover{ background-position:0 -176px;}
.buy_it a.user_buy4{background-position:0 -308px;} /**立即秒杀**/
.buy_it a.user_buy4:hover{ background-position:0 -264px;}
.buy_it a.user_buy5{background-position:0 -352px;} /**我要预定**/
.buy_it a.user_buy5:hover{ background-position:0 -396px;}

.buy_it #u_Prorata{ position:relative; float:left; margin-right:4px; height:44px;}
.buy_it img{ vertical-align:middle;}
.con_left .p_jx .cm input{height:20px; border:1px solid #ccc; width:80px;}
.xsxm{ width:50px; float:left; line-height:25px;}
.cmxs{ float:right; width:320px;}
.cmxs ul{ margin:0; padding:0}
.cmxs li{ display:inline; text-align:center;}
.cmxs li a{ float:left; display:block; border:1px solid #ccc;font-size:12px;height:20px; line-height:20px; width:26px;margin-right:10px; overflow:hidden;text-align:center;}
.cmxs li a:hover{border:2px solid #f60; color:#666;height:18px; line-height:18px; width:24px; overflow:hidden; line-height:19px;}
.cmxs li.selected a{ background:url(img/sz_bg.gif) no-repeat right bottom; border:2px solid #ff6701;font-size:12px; height:18px; width:24px; overflow:hidden; line-height:18px;}
.cmxs li.disable a{ color:#CCC;border:1px dashed #ccc;height:20px; width:26px;}
.cmxs li a.noStock{ color:#CCC;}
.cmxs li.disable a:hover{ color:#CCC;border:1px dashed #ccc; cursor:default;height:20px; width:26px;}


.fxd{ height:16px; line-height:normal; padding:7px 0px; clear:both;}
.fxd a{ display:inline; float:left; line-height:16px; margin:0 3px;}
.fxd a.rela{ position:relative; z-index:1;}
.fxd a.rela .spna_new{ background:url(img/new.gif) 0 0 no-repeat; height:14px; width:24px; position:absolute; right:-25px; top:-3px; z-index:3;}
.fxd img{ vertical-align:middle;}
.cpmx{ float:left; width:725px; margin-top:20px;}
.cpmx .cpmx_tt{ background: url(img/icon40.gif) repeat-x bottom; height:30px; line-height:30px }
.cpmx .cpmx_tt ul{ padding-left:20px; margin:0;}
.cpmx .cpmx_tt ul li{ float:left; width:99px; background: url(img/fybq_bg2.png) no-repeat; text-align:center; margin-left:0px;}
.cpmx .cpmx_tt ul li.on{background: url(img/fybq_bg.png) no-repeat;}
.cpmx .cpmx_tt ul li a{font-weight:bold; text-align:center; line-height:20px;}
.container{ float:left}
.contents{ padding:15px 0;width:700px; overflow:hidden;}
.conlist{ padding:10px;}
.conlist .tab_list{ width:100%; border:2px solid #D2D0D0;}
.conlist .tab_list td,.conlist .tab_list th{ border:2px solid #D2D0D0; padding:3px; text-align:center;}
.conlist p{ text-align:left}
.conlist p img{ text-align:center}
.detailtb td,.detailtb th{ border:2px solid #D2D0D0; height:25px; text-align:center}

/**== 商品详细 右边  ==**/  

.con_right{ width:210px; margin-left:740px;}
*html .con_right{width:210px; float:right; margin:0}
.con_right div.bg{ background:#f1f1f1; border:none; padding:3px;}
.con_right .right_1{padding:1px; margin-bottom:12px; width:204px; border:1px solid #dfdfdf; display:table;}
.right_1 .right_1_con{ background:#fff; padding:3px; border:1px solid #dad8d8; float:left; width:195px; overflow:hidden; height:390px;}
.right_2_t{background:#f0f0f0; color:#5c5c5c; height:26px; line-height:26px; text-align:left; text-indent:10px; font-weight:bold; width:100%; margin-bottom:15px;}
.right_1 dt{ background: url(img/r_tt_bg.png) no-repeat; line-height:24px; padding-left:15px; font-size:14px; font-family:"微软雅黑"; color:#fff; margin-bottom:10px}
.right_1 .tt2{background: url(img/r_tt_bg2.png) no-repeat; line-height:24px; padding-left:15px; color:#666; margin-bottom:10px; font-weight:bold; float:left; width:196px;}
*html .right_1 .tt2{background: url(img/r_tt_bg2.png) no-repeat; line-height:24px; padding-left:15px; color:#666; margin-bottom:10px; font-weight:bold; float:left; width:181px;}/** ie6 **/

.right_1 .tt3{ float:left; margin-bottom:30px;}
.right_1 .tt3 ul{ margin:0; padding:0 2px}
.right_1 .tt3 ul li{ display:inline}
.right_1 .tt3 ul li a{padding-left:10px; display:inline-block}
.right_1 .right_1_con dd{ text-align:center; margin:15px 0;}
.right_1 .right_1_con dd img{ border:1px solid #ccc; padding:3px}
.right_1 .right_1_con dd a{ line-height:20px; text-decoration:underline; color:#f26521}
.right_1 .right_1_con dd a:hover{text-decoration:none;}
.r_jt{}
.right_2_con{ background:#fff; margin:0; padding-left:5px; display:table; width:100%; width:200px; overflow:hidden;}
.right_2_pro{ height:120px; overflow:hidden; width:195px; }
.right_2_pro a.list_img_a,.elements_list .elements_ul li .list_img_a{padding:3px; border:1px solid #ccc; float:left; margin-right:8px; height:100px; width:100px; display:block; overflow:hidden;}
.right_2_pro a.list_img_a img,.elements_list .elements_ul li .list_img_a img{ height:100px; width:100px; overflow:hidden;}
.right_2_pro a.list_img_a:hover,.elements_list .elements_ul li .list_img_a:hover{border:1px solid #f26521;}
.right_2_pro p,.elements_list .elements_ul li p{ padding-top:4px; color:#666666;}
.right_2_pro p.txt,.elements_list .elements_ul li .txt{ width:75px; height:70px; overflow:hidden; padding:0; line-height:18px;}
.right_2_pro p.jc{ font-size:14px; font-weight:bold; color:#f60; background:url(img/meoneyo.jpg) 0 10px no-repeat; padding-left:15px; margin-left:120px;}

/* 分期付款 */
.buy_it .maskDiv{width:380px; height:160px; top:47px; left:-103px; }
.f_fqfk{position:absolute; z-index:9999; display:inline; background:#fff;border:1px solid #ed9426; padding:1px; width:380px; top:40px; left:-100px; }
.f_fqfk .f_title{ background:#fed088; height:26px; line-height:26px; color:#000; font-weight:bold; padding:1px 1px 0px 10px;}
span.f_img{float:right}
span.f_wz{float:left}
#t_f p{ padding:0; text-align:center; line-height:20px;}
.f_fqfk .f_title img{ vertical-align:middle;}
.f_fqfk .f_con{ padding:8px 10px;}
.f_fqfk .f_wzsm,.f_fqfk .f_sumit{ padding:5px 15px;}
.f_fqfk .f_con td{ height:30px; text-align:center; padding:0 5px; line-height:30px}
.f_fqfk .f_con th{ height:26px; text-align:center; background:#fceace; font-weight:normal;line-height:26px}
.f_fqfk .f_sumit{ height:30px; line-height:30px;}
.f_fqfk .f_sumit span a{ color:#0c04ae; text-decoration:underline;}
.f_fqfk .f_sumit img{ vertical-align:middle;}

/* 优惠活动 */
.xxjx .maskDiv,.buy_it .maskDiv{ position:absolute; z-index:1;opacity:0.15;filter:alpha(opacity=15); background:#000;}
.xxjx .maskDiv{width:300px; top:75px; left:91px; height:118px}
.y_fqfk{position:absolute; z-index:9; display:inline; background:#fff; border:1px solid #ed9426; padding:1px; width:300px; top:67px; left:94px; height:118px;}
.y_fqfk .y_title{ background:#fed088; height:26px; line-height:26px; color:#000; font-weight:bold; padding:1px 1px 0px 10px;}
span.y_img{float:right}
span.y_wz{float:left}
span.y_img #t_c,span.f_img a.closeBox, span.f_img #t_s{ margin-top:2px;display:block; height:21px; width:20px; background:url(img/gbx.gif) 0  0 no-repeat;}
span.y_img #t_c:hover,span.f_img #t_s:hover{background:url(img/gbx_h.gif) 0  0 no-repeat;}
.y_fqfk .y_title img{ vertical-align:middle;}
.y_fqfk .y_con{ padding:8px 10px;}
.y_fqfk .y_wzsm{ padding:5px 15px;}
.y_fqfk .y_wzsm p{ color:#666;}
.y_fqfk .y_wzsm p span{ color:#f60;}
.y_fqfk .y_wzsm ul{ margin-left:15px;}
.y_fqfk .y_wzsm li{ list-style:decimal;}

/* 购买提示 */

.t_gmts{position:absolute; z-index:2; display:inline; background: url(img/icon42.gif) no-repeat; margin-top:-98px;*margin-top:-103px;padding:0px;width:200px;}
.t_gmts .t_wz{ height:36px; line-height:30px; color:#f26521; padding:0px 0px 0px 70px;}



/**推荐商品***/
.elements_list{width:725px;border:1px  solid #e5e1e1; padding:1px; clear:both; overflow:hidden; margin-top:12px; float:left;}
.elements_list h2{ height:32px; display:block; text-indent:12px; color:#444; background:#f0f0f0; font-size:14px; line-height:32px;}
.elements_list .elements_ul{ width:750px; margin-left:27px;}
.elements_list .elements_ul li{width:140px; height:175px; overflow:hidden; float:left; padding-top:10px;}	 
.elements_list .elements_ul li .txt{ height:35px; line-height:18px; overflow:hidden; width:106px;}	 
.elements_list .elements_ul li .jc { font-size:14px; font-weight:bold; color:#f60; background:url(img/meoneyo.jpg) 0 10px no-repeat; padding-left:12px;}
	 
	 
	 

	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
