@charset "utf-8";
/* CSS document */
.rrs{ width:650px; margin:0 auto; color:#000; background:url(img/subscribe/rrs_bg.jpg) no-repeat right bottom; }
.rrs img{ display:block; }

.rrs .rrs_con{ border:1px solid #ccc; border-width:0 1px 1px; }
.rrs_con .rrs_method{ width:426px; padding:40px 0 0 36px; }
.rrs_method td{ vertical-align:middle; padding-bottom:10px; }
.r_text{ width:120px; padding:1px; border:1px solid #333; border-width:0 0 1px; color:#999; }
.r_text1{ width:27px; text-align:center; }
.getCode{ display:block; width:100px; line-height:31px; padding-left:27px; color:#FFF; overflow:hidden; background:url(img/subscribe/phone_bg.gif) no-repeat; }
.getCode2{ display:block; width:100px; line-height:31px; padding-left:27px; color:#FFF; overflow:hidden; background-position: 0 -31px; background:url(img/subscribe/phone_bg.gif) no-repeat; }
.getCoded{ color:#000; background-position:0 -31px; }
.getCode:hover{ color:#000; }

.rrs_con .person{ width:462px; padding:30px 0 20px; }
.person .top{ height:7px; background:url(img/subscribe/top_bg.png) no-repeat; _behavior:url(img/subscribe/iepngfix.htc); }
.person .bottom{ height:8px; background:url(img/subscribe/bottom_bg.png) no-repeat; _behavior:url(img/subscribe/iepngfix.htc); }
.person .person_con{ padding:20px 26px 20px 12px; background:url(img/subscribe/repeat-y.png) repeat-y; _behavior:url(img/subscribe/iepngfix.htc); }
.person_con .bb{ padding-bottom:5px; border-bottom:1px dashed #999; }
.person_con h3{ height:24px; line-height:24px; padding-left:30px; font-size:14px; font-weight:normal; background:url(img/subscribe/icon.gif) no-repeat; }
.person_con h3 font{ color:#d0031a; }
.person_con dl{ padding:12px 0 0 15px; margin-bottom:12px; }
.person_con dt,.person_con dd{ height:20px; line-height:20px; margin-bottom:3px; }
.person_con dl dd{ padding-left:20px; }
.person_con dt b,.person_con dd span{ padding-left:5px; }
.person_con dd span b{ padding-right:5px; color:#d0031a; }
.person .r_btn{ padding:20px 0 0 174px; }