@charset "utf-8";


table { border-collapse:inherit!important; border-spacing:inherit;!important }

.clear {clear: both;}

#bd{ width:950px; margin:5px auto 10px auto; clear:both; }

.cf{ *zoom:1; height:100%; overflow:hidden;}
.cf:after{ display:block; clear:both; content:'\0020'; visibility:hidden; line-height:0;}

.toplink{ border:#A8A8A8 3px solid; margin-bottom:4px; padding:3px 10px; line-height:26px; color:#666;}
.toplink a{ display:inline-block; width:62px; height:26px; text-align:center;}
.toplink a.actNow{ background:#D50000; color:#fff; font-weight:bold;}

.banner{ margin-bottom:8px;}

.box1_left{ float:left; width:708px; border:#e5e5e5 1px solid; height:452px; background:#F1F1F1; overflow:hidden;}
.titbox{ background:url(img/seckill/bgtit.jpg) repeat-x; height:34px;}
.titbox h3{ font:bold 16px/34px simsun; color:#E40011; background:url(img/seckill/bg2.gif) no-repeat 10px 6px; padding-left:20px;} 

.box1_right{ float:right; width:232px;}
.box1_right01{border:#e5e5e5 1px solid; height:265px; overflow:hidden;}
.box1_right01 ul{ padding:8px 7px;}
.box1_right01 li{ background:url(img/seckill/bg2.gif) no-repeat 0 -66px; padding-left:12px; padding-bottom:3px;}
.box1_right02{ margin-top:10px;}
.proimg{ float:left; width:312px; height:400px;}
.listimg{ float:left;width:220px; height:282px;}

.productbox{ padding-top:10px; padding-left:9px; padding-right:10px;}
.productinfo{ float:right; width:365px; font-size:14px; color:#666;}
.productinfo h1{ font-size:16px; border-bottom:#7C7C7C 1px dashed; padding-bottom:5px; color:#000; margin-bottom:5px;}
.productinfo h1 a:link,.productinfo h1 a:visited{ color:#000;}
.productinfo h1 em{ font-style:normal; color:#E60011;}
.productinfo ins{font-size:36px; line-height:40px; color:#FF7B00; text-decoration:none; padding-left:85px; background:url(img/seckill/bgins.gif) no-repeat 0 50%;}
.productinfo del{  font-family:simsun;}
.timebox{ line-height:20px; border:#ddd 1px solid; padding:10px; background:#fff; background:url(img/seckill/rtime.gif) #fff no-repeat 210px 50%; margin:10px 0 15px ;}
.num{ font-weight:bold; color:#FF4D00; margin:0 3px;}
.sns {clear: both;color: #646464;height: 36px;margin-top: 5px; font-size:12px;}
.sns img {margin-bottom: -2px;}
.box2,.box3{ margin-top:12px;}


.titbox2{ height:56px; background:url(img/seckill/bgr.jpg) repeat-x 0 0; position:relative;}
.titbox2 h3{ float:left;}
.titbox2 span.rightcorner{ display:block; height:56px; width:8px; position:absolute; right:0; background:url(img/seckill/bgr.jpg) no-repeat 0 -188px;}
.titbox3{ height:44px; background:url(img/seckill/bgr.jpg) repeat-x 0 -56px; position:relative;}
.titbox3 h3{ float:left;}
.titbox3 span.rightcorner{ display:block; height:44px; width:8px; position:absolute; right:0; background:url(img/seckill/bgr.jpg) no-repeat 0 -144px;}

.seclist{ border:#A70008 5px solid; border-top:0 none;  padding-top:10px;_padding-bottom:10px;}
.seclist li{ width:430px; height:296px; float:left; border:#CDC9CA 1px solid; margin-left:10px; margin-bottom:10px; background:#f4f4f4;_display:inline; padding:12px 10px 0 13px;}
.listinfo{ float:right; width:200px; color:#333; font-size:12px;}
.listinfo h3{ line-height:22px; height:88px; overflow:hidden;}
.listinfo h3 a:link,.listinfo h3 a:visited{ color:#333;}
.listinfo ins{font-size:26px; line-height:32px; color:#FF7B00; text-decoration:none; padding-left:85px; background:url(img/seckill/bgins.gif) no-repeat 0 50%;}
.listinfo del{  font-family:simsun;}
.mar5t{ padding-top:10px;}

.yglist{border:#A70008 5px solid; border-top:0 none; height:212px; background:url(img/seckill/bg_yglist.jpg) repeat-x; padding-top:20px;}
.yglist li{ float:left; width:150px; height:210px; overflow:hidden; color:#666; _display:inline; margin-left:32px;}
.yglist li a:link,.yglist li a:visited{ color:#333;}
.yglist .imgstyle{ display:block; margin-bottom:8px;}
.yglist li a:hover{ color:#F17700;}
.yglist li del{ font-family:simsun;}
.datalist{ float:left; padding-top:9px; padding-left:40px;}
.datalist li{ height:35px; float:left; width:92px; text-align:center; line-height:36px; margin-right:8px; font-weight:bold; color:#fff; background:url(img/seckill/bg_data_li.gif) no-repeat 0 -35px; overflow:hidden; cursor:pointer;}
.datalist li.accu{background:url(img/seckill/bg_data_li.gif) no-repeat; color:#B90006;}


.time{ float:right; width:200px; height:40px;  background:url(img/seckill/time.jpg) no-repeat 0 15px; padding-left:120px; padding-top:15px; overflow:hidden;}
.time2{ float:right; width:200px; height:40px;  background:url(img/seckill/time2.jpg) no-repeat 0 15px; padding-left:120px; padding-top:15px; overflow:hidden;}
.time1{ width:208px; height:37px;  padding:0px 8px 0 8px;}
.time1 .t { display:block;background-image:url(img/seckill/time_n.gif);background-repeat:no-repeat;float:left;height:21px;overflow:hidden;width:16px;}
.time1 big { display:block;float:left;font-family:"";font-size:18px;color:#ffffff;font-weight:normal;line-height:21px;margin:0 5px;}


.banner img{ width:950px; height:244px;}
.box1_right02 .rec_img{ width:232px; height:142px;}
.yglist .imgstyle{ display:block; margin-bottom:8px; width:150px; height:130px;}


/*  秒杀产品详细页面  */


#container {margin: 0px auto; width: 950px;}

#position {	background: url("img/seckill/arrow.gif") no-repeat 8px 10px; width: 930px; height: 22px; color:#646464; padding:8px 0 0 20px; border-bottom-color:#e5e5e5; border-bottom-width: 1px; border-bottom-style: solid;}

#container .attr .seckill_pic {width: 325px; height: 470px; overflow: visible; float: left; position: relative;}
#container .attr .seckill_pic .note {background:#000; width: 305px; height: 21px; text-align: center; color:#fff; line-height: 21px; margin:371px 0 0 4px; filter: Alpha(opacity=60); position: absolute; z-index: 998; opacity: 0.6; -moz-opacity: .6;}
#container .attr .seckill_pic .note span {background: url("img/seckill/search.gif") no-repeat 0px 0px; height: 21px; padding-left: 20px;}

#ms_hot {background: url("img/seckill/bg_miaosha.png") no-repeat -16px -15px; width: 66px; height: 66px; position: absolute; z-index: 999;}

#sold_out {width: 100px; height: 56px; margin-top: 290px; margin-left: 200px; position: absolute; z-index: 13;}
html > body #sold_out {background: url("sold_out.png") no-repeat;}
html #sold_out {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale', src='sold_out.png');}
#container .attr .seckill_pic ul {height: 61px; padding-top: 10px; float: left; display: block;}
#container .attr .seckill_pic ul li {background: url("img/seckill/normal.gif"); width: 44px; height: 55px; padding-top: 6px; padding-left: 2px; margin-right: 10px; float: left;}
#container .attr .seckill_pic ul li:hover {background: url("img/seckill/normal_over.gif") no-repeat;}
#container .attr .seckill_pic ul .current {background: url("img/seckill/current.gif") no-repeat;}
#container .attr .seckill_pic ul .current:hover {background: url("img/seckill/current.gif") no-repeat;}
#container .attr .seckill_pic .pre {background: url("img/seckill/prdis_pre.jpg") no-repeat 0px 70%; width: 18px; height: 65px; float: left;}
#container .attr .seckill_pic .next {background: url("img/seckill/prdis_next.jpg") no-repeat 10px 70%; width: 18px; height: 65px; float: left;}
#container .attr .seckill_pic .small {width: 275px; overflow: hidden; float: left;}
#container .attr .seckill_pic .small img {width: 42px; height: 53px;}

#container .detail {width: 405px; overflow: hidden; float: left;}
#container .detail .top {width: 405px; height: 176px; overflow: hidden; clear: both;}
#container .detail h1 {margin:0 0 10px 0; padding:0px; width:405px; line-height:27px; clear:both; font-family:"SimHei"; font-size:20px; font-weight:normal; float:left; display: block;}

#container .price {width: 405px; height: 80px; clear: both;}
#container .price span {width: 405px; color:#646464; line-height: 28px; clear: both; float: left; display: block;}
#container .price strong {color:#f7941c; font-family: Arial, Helvetica, sans-serif; font-size: 20px;}
#container .price span small {font-size: 12px; text-decoration: line-through;}
#container .price span.kr {line-height: 20px;}
#container .price span.kr a {color:#f00; font-weight: bold; text-decoration: none;}
#container .price span.kr a:hover {text-decoration: underline;}

#container .size {padding: 1px; border: 1px solid #e5e1e1; width: 401px; clear: both; float: left;}
#container .sizebg {background:#f6f6f6; padding: 15px; width: 371px; overflow: hidden; float: left;}
#container .size dl {width: 371px; padding-bottom: 10px; clear: both; float: left;}
#container .size dt {width: 56px; line-height: 25px; float: left;}
#container .size dd {width: 310px; float: left;}
#container .size dd a.sizelist {background:#fff; padding: 1px 0px; border: 1px solid #c9c8ce; color:#646464; font-family: Arial, Helvetica, sans-serif; margin-right: 12px; margin-bottom: 5px; float: left; white-space: nowrap;}
#container .size dd a.sizelist span {padding: 0px 6px;}
#container .size dd a.sizelist:hover {border: 1px solid #ff6701;}
#container .size dd a.checked {background: url("img/seckill/ok.gif") no-repeat right bottom rgb(255, 255, 255); border: 1px solid rgb(255, 103, 1);}
#container .size dd a.blue {color: rgb(24, 28, 151); text-decoration: underline; margin-top: 5px; float: left;}
#container .size dd a.blue:hover {text-decoration: none;}
#container .size .numberinput {	border: 1px solid rgb(202, 201, 207); width: 72px; height: 17px; line-height: 17px;}

#container .tel {padding: 10px 0px 0px; width: 405px; color: rgb(100, 100, 100); clear: both; font-size: 14px;}
#container .tel strong {font-family: Arial, Helvetica, sans-serif; font-size: 18px;}

.sns {height: 36px; color:#646464; clear: both; margin:10px 0px;}
.sns img {margin-bottom: -2px;}

#container .brands {background: url("img/seckill/rightop.gif") no-repeat; width: 196px; height: 400px; overflow: hidden; padding-top: 7px; padding-right: 7px; padding-left: 7px; float: right;}
#container .brands h2 {	background: url("img/seckill/h2bg.gif"); width: 184px; height: 24px; color:#fff; line-height: 24px; padding-left: 12px; clear: both; font-size: 12px; display: block;}
#container .brands h3 {	background: url("img/seckill/b3bg.gif"); width: 184px; height: 24px; color:#646464; line-height: 24px; padding-left: 12px; clear: both; font-size: 12px; display: block;}
#container .brands .righth3 {background: url("img/seckill/b3bg.gif"); width: 184px; height: 24px; color:#646464; line-height: 24px; padding-left: 12px; clear: both; font-size: 12px; display: block;}
#container .brands .contentr {width: 196px; text-align: center; padding-bottom: 20px; clear: both; float: left;}
#container .brands .contentr img {margin: 10px auto 0px; padding: 2px; border: 1px solid #d2d2d2; width: 100px; height: 50px; clear: both; display: block;}
#container .brands .contentr a {color:#f26521; text-decoration: underline;}
#container .brands .contentr a:hover {text-decoration: none;}
#container .brands .contentr a.morer {margin-top: 10px; display: block;}
#container .brands ul {	width: 180px; padding-top: 20px; padding-bottom: 20px; padding-left: 8px; float: left;}
#container .brands li {	background: url("img/seckill/point.gif") no-repeat left 8px; line-height: 18px; padding-left: 8px;}
#container .brands li a {color:#646464;}
#container .brands li a:hover {color:#ff6701;}
#container .brands .contentz {padding: 20px; width: 156px; clear: both; float: left;}
#container .brands .contentz a {color:#646464; line-height: 20px; text-decoration: underline; margin-bottom: 10px;}
#container .brands .contentz a:hover {color:#ff6701;}

#container .maincontent {width: 950px; clear: both; float: left; margin-top:20px;}

#container .nav {background: url("img/seckill/navbg.jpg") no-repeat left bottom; width: 935px; height: 30px; overflow: hidden; padding-left: 15px; position: relative; margin-bottom:20px;}
#container .nav .tit {width: 104px; height: 20px; text-align: center; color:#7b7b7b; padding-top: 10px; font-weight: bold; float: left; display: block; position: relative; z-index: 3;}
#container .nav .tit:hover {color:#f7941c;}
#curr {background: url("img/seckill/curr.gif"); left: 15px; top: 0px; width: 106px; height: 30px; display: block; position: absolute; z-index: 0;}
#container .nav .stata {background: url("img/seckill/icon.gif") no-repeat left; color:#6e6d6d; padding-left: 15px; margin-top: 10px; margin-right: 20px; float: right;}
#container .nav strong {color:#f26521}
#container .nav .more {color:#f26521 text-decoration: underline; margin-top: 10px; margin-right: 5px; float: right;}
#container .nav .more:hover {text-decoration: none;}

#container .attr {	background: url("img/seckill/rightbg.gif") no-repeat right bottom; width: 950px; clear: both; margin-top: 15px; float: left;}
#container .attr .left {	width: 325px; height: 470px; overflow: visible; float: left; position: relative;}
#container .attr .img {	padding: 3px; border: 1px solid rgb(210, 208, 208); width: 305px; height: 388px; overflow: hidden; display: block;}
#container .attr .left .note {	background: rgb(0, 0, 0); width: 305px; height: 21px; text-align: center; color: rgb(255, 255, 255); line-height: 21px; margin-top: 371px; margin-left: 4px; filter: Alpha(opacity=60); position: absolute; z-index: 998; opacity: 0.6; -moz-opacity: .6;}
#container .attr .left .note span {	background: url("img/seckill/search.gif") no-repeat 0px 0px; height: 21px; padding-left: 20px;
}

#container .prolist { width:950px; float:left; clear:both; }
#container .prolist h2 { height:27px; font-size:14px; line-height:27px; color:#fd0000; border-bottom:2px #ABABAB solid; }
#container .prolist .procon { width:945px; float:left; overflow:hidden; padding-top:18px; padding-bottom:25px; padding-left:5px; }
#container .prolist .procon ul { width:990px; float:left; }
#container .prolist li { width:108px; display:block; float:left; text-align:left; margin-right:30px; _margin-right:26px;}
#container .prolist li span { display:block; clear:both; line-height:17px; padding-top:3px; }
#container .prolist li a { color:#626262; }
#container .prolist li a:hover { text-decoration:underline; }
#container .prolist li .img { width:100px; height:128px; border:4px #d4d4d4 solid; padding:2px; }
#container .prolist li big { color:#F26521; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; }


#wndResult h2 {margin: 0px; height: 25px; overflow: hidden}
.wndbutton {display: block; clear: both; padding-top: 5px}
.wndbutton input {font-size: 12px}
#wndContent {padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px}
#wndCartTotal {font-family: arial; color: #ff6600; font-size: 14px; font-weight: bold}
#wndCartPrice {font-family: arial; color: #ff6600; font-size: 14px; font-weight: bold}










































