@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px; }
body{ font:14px Microsoft YaHei, "微软雅黑", Arial; color:#6b6b6b; }
ul,li,dl,dd,dt{ list-style:none; }
img{ border:none; }
a{ font:12px "宋体"; color:#6b6b6b; text-decoration:none; }
a:hover{ color:#f26521; }
/*--清楚浮动--*/
.sec_clear{ clear:both; height:0px; line-height:0px; visibility:hidden; }
.sec_one{ zoom:1; }
.sec_one:after{ display:block; clear:both; height:0px; line-height:0px; visibility:hidden; }

#sec_xiu{ width:950px; margin:0 auto; }
#sec_xiu .sec_ban{}
#sec_xiu .sec_type{ height:47px; margin:7px 0 15px; background:url(img/seckill/type_bg.jpg) no-repeat; overflow:hidden; }
.sec_type li.curr{ height:47px; background:url(img/seckill/arrow_down.gif) no-repeat 50% bottom; }
.sec_type li,.sec_type li a{ display:inline; float:left; }
.sec_type li a{ height:39px; line-height:39px; padding:0 30px; font-size:14px; font-weight:bold; }
.sec_type li a:hover{ color:#000; }
.sec_type li.curr a{ background:url(img/seckill/btn_bg.jpg) repeat-x; color:#FFF; }

#sec_xiu .sec_con{}
.sec_con .tab_t{ height:34px; margin-bottom:10px; background:url(img/seckill/line.gif) repeat-x bottom; }
.sec_con .tab_t span{ display:inline; float:left; height:25px; line-height:25px; padding:0 8px 0 10px; border:solid #d4d4d4; border-width:0 1px 0 0; cursor:pointer; }
.sec_con .tab_t span.curr{ height:30px; _height34px; border:2px solid #b80808; border-bottom-color:#FFF; }
.sec_con .tab_t span em{ font-size:12px; font-style:normal; }
.sec_con .tab_t span.curr em{ color:#b80808; }
.sec_con .tab_t .fontinfo{ display:inline; float:right; position:relative; z-index:9999;}
.sec_con .tab_t .fontinfo a{ display:block; width:90px; height:15px; margin-top:8px; padding-left:8px; line-height:15px; color:#ff4f15; background:url(img/seckill/btn_info.jpg) no-repeat; }
.sec_con .tab_t .fontinfo div{ display:none; position:absolute; top:23px; right:0; width:240px; height:180px; padding:10px; border:1px solid #787878; background-color:#ffc690; }
.sec_con .tab_con{ display:none; }
.tab_con .sec_one,.tab_con .sec_more{ padding:10px; border:1px solid #ddd; }
.tab_con .sec_t{ height:18px; margin:30px 0 8px; }
.sec_t h3,.sec_t .s_time,.sec_t .col_time{ display:inline; float:left; height:18px; line-height:18px; }
.sec_t h3{ font-size:14px; }
.sec_t .s_time{ width:128px; margin-left:8px; text-align:center; color:#FFF; background:url(img/seckill/s_time_bg.gif) no-repeat; }
.sec_t .col_time{ float:right; }
.sec_t .col_time span{ padding:0 2px; color:#cd0102; }

.tab_con .sec_one{ height:200px; overflow:hidden; background-color:#f5f5f5; }
.sec_one .kill_time,.sec_one .goods{ display:inline; float:left; }
.sec_one .spanTime{height:24px;width:79px;background:url(img/seckill/ten_colock.gif) no-repeat;display:block;margin-left:10px;font-size:22px;font-weight:bold;color:red;letter-spacing:5px; line-height:24px;text-indent:2px;}
.sec_one .spanTime b{margin-right:4px;}
.sec_one .morTime b{color:#909090;font-weight:normal;letter-spacing:7px;margin-right:6px;}
.sec_one .kill_time{ position:relative; width:94px; height:200px; text-align:center; background-color:#cacaca; color:#FFF; }
.sec_one .curr{ background-color:#ac0002;}
.sec_one .kill_time h3,.sec_one .kill_time p{ font-weight:normal; font-size:24px; }
.sec_one .kill_time h3{ margin-top:60px; }
.sec_one .kill_time em{ display:block; position:absolute; top:45%; right:-11px; width:11px; height:22px; background:url(img/seckill/arrow.gif) no-repeat 0 -22px; }
.sec_one .curr em{ background-position:0 0; }
.sec_one .goods{ width:400px; margin-left:15px; }
.sec_one .kill_right{ float:right; }
.sec_one .goods a,.sec_one .goods ul{ display:inline; float:left; }
.sec_one .goods a{ margin:0 12px; *margin-right:0px; _margin-right:0px; border:1px solid #ddd; }
.sec_one .goods ul li{ width:160px; padding-bottom:7px; font:12px "宋体"; }
.sec_one .goods ul li a{ display:block; border:none; float:none; margin:0px; width:103px; height:26px; padding-top:5px; font:bold 14px Microsoft YaHei,"微软雅黑"; text-align:center; color:#FFF; background:url(img/seckill/btn_bg1.jpg) no-repeat; }
.sec_one .s_good ul li a{ background-position:0 -31px; }
.sec_one .goods ul li h3{ margin-bottom:10px; font:normal 14px Microsoft YaHei,"微软雅黑"; height:36px;overflow:hidden;}
.sec_one .goods ul li h3 a{ width:auto!important; height:auto!important; font-size:13px; padding:0px; color:#6b6b6b; text-align:left; background-image:none; }
.sec_one .goods ul li h3 a:hover{ color:#f26521; }
.sec_one .goods ul li em,.sec_one .goods ul li big{ font:normal 14px Microsoft YaHei,"微软雅黑"; color:#cd0102; }
.sec_one .goods ul li em{ padding-right:3px; }
.sec_one .goods ul li del{ font-size:14px; }
.sec_one .goods ul li big{ font-weight:bold; font-size:24px; }
.sec_one .goods ul li span{ padding:0 3px; font-weight:bold; color:#cd0102; }

.tab_con .sec_more{ height:auto!important; min-height:200px; height:200px; margin-bottom:20px; }
.sec_more ul{ padding:10px 2px 0; }
.sec_more ul li{ display:inline; float:left; width:202px; height:282px; margin-left:23px; font:normal 12px "宋体"; overflow:hidden;  }
.goods .goodLink{ position:relative}
.goods .sl,.sec_more ul li .sl{position:absolute;bottom:0;right:0px;width:67px;height:45px;}

.sec_more ul li a{ display:block; border:1px solid #ddd; position:relative;}
.sec_more ul li h3,.sec_more li span{ margin:5px 0; }
.sec_more ul li h3{ font-size:12px; font-weight:normal; color:#333; }
.sec_more ul li h3 a{ border:none; }
.sec_more ul li span{ display:block; }
.sec_more ul li span big,.sec_more ul li ins em{ font:normal 12px Micorosoft YaHei, "微软雅黑"; color:#cd0102; }
.sec_more ul li ins em{ padding-right:3px; }
.sec_more ul li span big{ font-size:18px; }
.sec_more ul li ins{ padding-left:8px; text-decoration:none; }
.sec_more ul li del{ color:#999; }