@charset "utf-8";
/* CSS Document */

/*header_s*/
.dbheader{ height:59px; border-bottom:1px solid #c7c7c7; width:860px; margin:20px auto 38px;}
.dbheader a{ display:block; height:59px; width:200px; overflow:hidden; position:relative; z-index:1;}
.dbheader a b{background:url(img/share/s_05.png) left 0 no-repeat; position:absolute; left:0; top:0; height:60px; width:200px; z-index:3;}

.header{width:760px;margin:0 auto; background:url(img/login/s_02.png) 198px 0 no-repeat;height:64px; padding-top:12px; border-bottom:1px solid #adadad;}
.header .logo{height:59px;width:194px; margin-left:13px;}
.header .logo a{height:59px;width:194px;overflow:hidden;display:block;}
.header .logo b{ background:url(img/login/s_05.png) no-repeat;width:194px;height:59px;left:0;top:0;}

.header .column{right:10px;top:25px;width:380px; text-align:right;color:#151515;} /*= right =*/
.header .column p{height:20px; display:block;}
.header .column p a{ color:#1e5494; text-decoration:underline;}
.header .column p a:hover{ color:#f26521; text-decoration:underline;}
.header .column .mar a{ float:right; padding:0 10px;}
.header .column .mar b{font-size:16px;color:#F26521; line-height:18px;}


/*content_s*/
.bd{ width:760px; margin:0 auto 10px auto; padding-bottom:20px;}
.bd .g_list{ height:445px; width:265px; background:url(img/share/line_y.gif) right repeat-y;}
.bd .g_list .g_tr,.bd .g_list p{ overflow:hidden; margin:0 auto; display:block; margin-bottom:5px;}
.bd .g_list .g_tr{ height:160px; padding:3px; border:1px solid #d7d7d7; width:160px;}
.bd .g_list .g_tr img{ height:160px; width:160px; overflow:hidden;}
.bd .g_list p{ width:168px; line-height:18px;}

.bd .m_eles{ width:515px; float:right; padding-right:42px;}
.bd .m_eles h2{ background:url(img/share/user_center.gif) 10px -59px no-repeat;border-bottom: 4px solid #D7D7D7;color: #ff7c00;font-size: 14px;height: 36px;line-height:36px;padding-left: 30px;}
.bd .m_eles .dl{ width:515px; padding-top:5px;}
.bd .m_eles .dl dt{ font-weight:bold; color:#000; margin-top:10px; height:18px; line-height:18px;background:url(img/share/user_center.gif) -214px -201px no-repeat; padding-left:12px;}
.bd .m_eles .dl dd{ padding-left:10px; padding-bottom:20px; padding-top:10px;}
.bd .m_eles .dl dd input{ vertical-align:middle; color:#888;}
.bd .m_eles .t_layer1,.bd .m_eles .t_layer2,.bd .m_eles .t_layer3{ border:1px solid #c7c7c7; padding:2px 5px 4px; display:inline-block;}
.bd .m_eles .t_layer1{ width:404px;}
.bd .m_eles .t_layer2{ width:280px;}
.bd .m_eles .t_layer3{ width:410px; height:100px; color:#888;}
.bd #success{ color:red; position:absolute; bottom:0; left:0; padding-left:15px;}

.bd .layer4{ background:url(img/share/all_b_style_bg.gif) 0 -204px no-repeat; height:21px; width:73px; color:#fff; text-align:center; line-height:21px; display:inline-block; margin-left:10px;}
.bd .layer4:hover{ background:url(img/share/all_b_style_bg.gif) -73px -204px no-repeat; color:#fff;}
.bd .layer5{ width:122px; height:28px; font-size:14px; font-weight:bold; color:#fff; background:url(img/share/all_b_style_bg.gif) 0 -108px no-repeat; display:block; line-height:28px; text-indent:20px;}
.bd .layer5:hover{ background:url(img/share/all_b_style_bg.gif) 0 -136px no-repeat; color:#fff;}

.bd .m_eles .m_list{ width:505px;}
.bd .m_eles .m_list li{ position:relative; padding:4px 0 4px 76px; width:550px;}
.bd .m_eles .m_list li span{ position:absolute; left:0; top:8px; width:76px; text-align:right; display:block;}


.bd .layer6,.bd .layer7,.bd .layer8,.bd .layer9,.bd .layer10, .bd .layer13{ padding:2px 0 2px 20px; margin-right:5px;}
.bd .layer6{ background:url(img/share/share_tx_wb.png) 0 center no-repeat;}
.bd .layer7{ background:url(img/icoSina.gif) 0 center no-repeat;}
.bd .layer8{ background:url(img/icoSohu.gif) 0 center no-repeat;}
.bd .layer9{ background:url(img/icoRenren.gif) 0 center no-repeat;}
.bd .layer10{ background:url(img/qzone.gif) 0 center no-repeat;}
.bd .layer11{ background:url(img/share/meoney.jpg) left center no-repeat; padding-left:15px; color:#d80c18; font-size:18px;}
.bd .layer12{ background:url(img/share/meoneyo.gif) left center no-repeat; padding-left:11px; color:#8a8888;}

.bd .layer13{ background:url(img/share/meilishuo.png) 0 center no-repeat;}


/*web_mater*/
.h{ border-bottom:none; margin-bottom:20px;}
.web .g_list{ background:none; width:660px; text-align:left; height:200px; background:url(img/share/bg_line.gif) 0 bottom  repeat-x; padding-left:200px;}
.web .g_list p,.web .g_list .g_tr{ margin:0 0 5px;}
.web .g_list .g_tr{ float:left; margin-left:10px; margin-right:50px;}
.web h5{ border-bottom:1px solid #707070; height:25px; line-height:25px; font-size:12px; font-weight:normal; margin-bottom:20px;}
.web h5 font{color:#e20016;}
.web .tr_cons{ padding:10px 0; margin-bottom:10px; color:#000;}
.web .tr_cons font{ color:#e20016;}
.web .clors{ color:#999;}
.web .tr_cons .a{ color:blue; text-decoration:underline;}
.web .tr_cons .cl{ color:#e70017;}
.web .footer{ border-top:2px solid #adadad; margin:10px auto; padding-left:80px;}
.web .footer a{ background:url(img/share/s_f.png) 0 0 no-repeat; width:235px; height:55px; float:left; display:block; text-indent:-999px; overflow:hidden;}
.web .footer a.s1{ background-position:left bottom;}
.web .footer a.s2{ background-position:left center;}
.noresize{resize:none}
/*footer_s*/
.footer{ width:760px; text-align:center; line-height:30px; padding-top:10px; border-top:1px solid #c7c7c7; padding-bottom:30px; margin:0 auto;}
