@charset "utf-8";
/**== 页面初始化样式_start ==**/


/**== 清浮动_start ==**/
.Hot_key .sort_div:after,.Hot_key .sort_div .sort_ad:after,
.sell_hot .wares_show:after,.layout_div:after,.star_ul:after,
.selul_els:after,.new_grounding .star_ul:after,.new_grounding div.new_white:after,
.p-list:after,.g-n:after,#e_img_div ul:after,
.p-list .p-main .p-main-right .j-s .r_t:after,
.p-list .p-main .p-main-right .j-s .r_t li:after,
.db:after
{clear:both;display:block;visibility:visible;content:'';height:0;line-height:0;}


/**== 首页内容区各模块公用背景_start  ==**/
.txt_bx_01 b,.txt_bx_02 b,.txt_bx_03 b,.txt_bx_04 b,.txt_bx_05 b,.txt_bx_06 h2 b,.txt_bx_07 h2 b,.txt_bx_08 b,
.Hot_key .keybox .title_key span a,.s_service-box .s_service-info dl dt,.s_service-box .s_service-info dl dd,
.s_service-box .s_service-affiche h2,.s_service-box .s_service-affiche li,
.sell_hot .sell_title .more,.title_key .hot_span,.sell_hot .wares_show dt,.sell_hot .wares_show dd p,
.title_key .fish_title,.layout_div .more,.star_ul li b,.recommend_con .re_ul .re_p b,
.the_brand a,.title_key .new_ground,.new_grounding .sell_title .more,/**/
.recommend_list li.cur
{background:url(img/sport/s_content.gif) 0 0 no-repeat;}




/**== 鞋类频道_start  ==**/	
.db{width:950px; margin:0 auto;}
.db .item_list{width:205px; float:left; height:520px; border:1px solid #e0dfdf; position:relative; z-index:9999;}
.db .item_list h2{width:206px; padding-top:40px; height:31px; line-height:31px; overflow:hidden; color:#fff; text-align:center; font-size:12px; font-weight:normal; position:relative; margin-left:-1px; margin-top:-1px; margin-bottom:10px;}
.db .item_list .h2_l{ background:#719cd3 url(img/sport/shoe_06.png) 0 0 no-repeat;}
.db .item_list .h2_y{ background:#f68e55 url(img/sport/listh03.png) 0 0 no-repeat;}
.db .item_list .h2_b{ background:#d3af83 url(img/sport/listh05.png) 0 0 no-repeat;}
.db .item_list dl{ padding:5px 10px;  line-height:22px;}
.db .item_list dt{ font-weight:bold;}
.db .item_list dd { position:relative; margin-left:-3px;}
.db .item_list dd a{ margin:3px;display:inline-block;}
.db .item_list dd .m_elea{background:url(img/list_more.jpg) 0 0 no-repeat;width:63px;height:19px;overflow:hidden;text-indent:-999px;}
.db .item_list dd .more,.db .item_list dd .more a{display:block;}
.db .item_list dd .showbox{position:absolute; width:430px; border:3px solid #E70017; padding:5px; z-index:9999; left:62px; background:#fff; display:none;top:-20px;}




.db .hot_brand{ width:732px; float:right;}
.db .hot_brand .m_seckll{ float:right; width:220px; height:300px; margin-right:2px; display:inline;position:relative;}
.txt_miaosha h2 b{ background:url(img/sport/shoe_11.jpg) 35px 4px  no-repeat;}
.db  .hot_brand  .m_seckll .span{ display:block; background:url(img/sport/shoe_03.jpg) 0 0 no-repeat; height:32px; width:36px; position:absolute; top:-2px; left:5px; line-height:100px; overflow:hidden; z-index:99;}
.db .hot_brand .layout_div{ width:728px; clear:both; height:211px; margin:0; padding-top:10px;}
.db .hot_brand .layout_div .left_slide{ width:728px;}
.db .hot_brand .layout_div .db_brands_list{ background:#fff; width:700px; margin:0 auto; padding:10px; height:156px; overflow:hidden;}
.db .hot_brand .layout_div .db_brands_list .pa_list{ width:730px; padding-left:5px;}
.db .hot_brand .layout_div .db_brands_list a{ display:block; float:left; width:80px; height:40px; overflow:hidden;border:1px solid #e0dfdf; margin-right:5px; margin-bottom:12px;}
.db .hot_brand .layout_div .db_brands_list a img{width:78px; height:38px;}
.db .hot_brand .txt_title_bg b{ background:url(img/sport/shoe_25.jpg) 10px 4px no-repeat;}

/**== 四图轮换_start  ==**/	
		  .itm_t{width:500px;float:left; height:300px; position:relative; z-index:5;}
		   .itm_t #itemLI{width:500px; height:268px; overflow:hidden;}
		  .itm_t #itemLI a{ display:none;}
		  .itm_t #itemLI a.cur{ display:block;}
		  .itm_t #itemLI a,.itm_t #itemLI img{width:500px; height:268px; overflow:hidden;}
		  .itm_t #item_ul{height:32px; background:#f3f3f3; width:500px; position:absolute; bottom:0; border-top:1px solid #fff; z-index:9;}
		  .itm_t #item_ul li{overflow:hidden; display:block; float:left; width:125px; height:32px; text-align:center; line-height:32px; cursor:pointer; background:url(img/sport/shoe_21.jpg) left center repeat-y;}
		   .itm_t #item_ul li.dl{ background:none;}
		  .itm_t #item_ul li.cur{ background:url(img/sport/shoe_20.jpg) 0 0 no-repeat; color:#fff;}


/**== 热门关键词_start  ==**/
.Hot_key{width:948px;margin:0 auto;border:1px solid #dedede;padding:1px; margin-bottom:10px;}
	.Hot_key .keybox{ background:#f2f1f6; padding-bottom:4px;}
		.title_key{ height:27px; background:#F3F3F3;}
			.title_key h2 a{ float:left; position:relative;width:150px;height:27px;overflow:hidden;line-height:100px;}
			.title_key h2 b{display:block; width:210px;height:27px; position:absolute;top:0;left:0; }
		.Hot_key .keybox .title_key span{float:right; padding-top:5px; padding-right:20px;}
		.Hot_key .keybox .title_key span a,.sell_hot .sell_title .more,.layout_div .sell_title .more,.new_grounding .sell_title .more{  display:block;width:42px;height:16px;line-height:160px;text-align:center; background-position:-408px -144px;overflow:hidden;}
		.Hot_key .keybox .title_key span a:hover,.sell_hot .sell_title .more:hover,.layout_div .more:hover,.new_grounding .sell_title .more:hover{ background-position:-408px -180px;}




/**== 首页模块背景定位_start  ==**/
.txt_bx_01 h2 b{background-position:0 -305px;}
.txt_bx_02 h2 b{background-position:0 -722px;}
.txt_bx_03 h2 b{background-position:-165px -100px;}
.txt_bx_04 h2 b{background-position:-288px -275px; width:116px; height:39px;}
.txt_bx_04 h2 a{height:39px; width:116px; margin-top:10px; margin-left:-2px;}
.txt_bx_05 h2 b{background-position:-215px 0px;}
.txt_bx_06 h2 b{ background-position:-220px -29px;}
.txt_bx_07 h2 b{ background-position:-10px -662px;}
.txt_bx_08 h2 b{ background-position:-165px -65px;}
#layout_div .txt_bx_08 h2 a,.txt_tongxue h2 a,.txt_nvxue h2 a,.txt_nanxie h2 a{ line-height:27px; font-size:14px; text-indent:12px;}
#layout_div .txt_bx_08 b,#layout_div  .txt_tongxue b,#layout_div .txt_nvxue b,#layout_div .txt_nanxie b{ color:#b1b0b0; background:#f3f3f3; position:static; display:inline; width:auto; font-size:12px; margin-left:5px;}



/**== 热销品牌_start  ==**/
.sell_hot{width:950px;margin:0 auto; overflow:hidden;}
	.hot_line{border:1px solid #e0e0e0; background-position:0 -802px; height:32px; background-repeat:repeat-x;}
	.sell_hot .sell_title,.fishion_show .sell_title,.new_grounding .sell_title { float:right; padding-right:20px; height:32px;   text-align:right;}
	.sell_hot .sell_title a ,.fishion_show .sell_title a,.new_grounding .sell_title a{padding:0 5px;}
	.sell_hot .sell_title .more,.new_grounding .sell_title .more{ float:right; padding:0; margin-top:9px; display:inline; margin-left:10px;}
.title_key .hot_span{width:72px;height:36px;top:-5px;left:0; background-position:-316px -323px}
.sell_hot .wares_show{width:980px; margin-top:10px;}
	.sell_hot .wares_show dl{height:245px;width:180px; float:left; overflow:hidden; margin-right:12px; margin-bottom:10px; display:inline;}
		.sell_hot .wares_show dl dt{width:180px;height:50px; background-position:-230px -500px; text-align:center;}
		.sell_hot .wares_show dt img{margin-top:3px;}
		.sell_hot .wares_show dd a{ display:block;height:135px; overflow:hidden;}
		.sell_hot .wares_show dd a img{width:180px; height:135px; overflow:hidden;} /**== 防止图片过大，撑开容器 ==**/
		.sell_hot .wares_show dd p{width:180px;height:58px; background-position:-230px -365px; text-align:center; display:block; float:left;}
		.sell_hot .wares_show dd p a{font-size:18px; line-height:50px; font-family:Microsoft YaHei,SimHei;}
.selul_els{ padding-top:5px;}
.selul_els li{ padding-left:10px; line-height:24px;}
#sel_ul .sel_events{ height:82px; width:196px; padding:13px 1px 1px; background:url(img/sport/ms.gif) 0 0 no-repeat; display:none;}
	#sel_ul .sel_events img{ float:left; margin-right:5px;}
	#sel_ul .sel_events p{ margin-top:5px; line-height:20px;}
.sel_starul{ margin:0 10px 0 10px; border-top:1px solid #fff; width:215px; margin:0 auto;}
	.sel_starul h4{ padding:5px 0; font-size:12px;}
	.sel_starul h4 a{ color:#F17700;}
	.right_slide .silde_bg{ height:210px;}

 /**== 内容区模块复用样式_start ==**/	
.layout_div{width:950px; margin:0 auto 10px auto;}
.left_slide,.right_slide{padding:1px; border:1px solid #e0e0e0;}
.left_slide{width:946px; float:left;}
.right_slide{width:218px;  height:210px; margin-bottom:10px;}
.silde_bg{background:#f3f3f3;} /**== 复用背景 ==**/
.sildeHeight{ height:300px; }
.sildeHeight_t{ height:208px; overflow:hidden;}
#layout_div{ position:relative; height:507px; width:950px; overflow:hidden;}
#layout_div .left_slide{ padding-bottom:10px;}

#layout_div .star_div{ position:absolute; right:5px; top:40px; width:670px; overflow:hidden;}
#layout_div .star_div ul{ width:750px; height:230px; padding:0; line-height:20px; margin:0 5px;}
#layout_div .star_div ul li{ line-height:20px;}
#layout_div .left_goods{ width:250px; padding-top:10px; padding-left:10px;}
#layout_div .left_goods .imgDiv,#layout_div .left_goods .imgDiv img{ height:314px; width:250px;}
#layout_div .left_goods .info_list{ background:url(img/sport/shoe_44.jpg) 0 0 no-repeat; height:131px; width:250px; margin-top:10px;}
#layout_div .left_goods .info_list ul{ padding-top:7px; padding-left:10px;}
#layout_div .left_goods .info_list li{ line-height:28px;}


 /**== 明星单品_start ==**/
 .lay_p{ padding-bottom:5px;}
 .star_ul{ background:#fff; margin:5px 5px 0; padding-left:15px; padding-top:15px; height:450px;}
	.layout_div .sell_title .more{ float:right; margin-top:6px; margin-left:10px;}
	.layout_div .sell_title{ padding-right:10px; height:27px; line-height:27px; text-align:right;}
		.layout_div .sell_title a{ margin:0 5px;}
 .star_ul li{ float:left;width:155px; height:220px; margin-right:10px; line-height:22px;}
 	.star_ul li a{ display:block; overflow:hidden; margin-bottom:4px; line-height:18px;}
	.star_ul li a.elesaHeight{height:150px; width:150px; padding-bottom:7px; overflow:hidden; margin-bottom:0;}
	 .star_div .star_ul li b,.recommend_con .re_ul .re_p b{ color:#E20016; margin-right:10px; padding-left:15px; background-position:-439px -320px; font-size:16px;}
	 .star_ul li del{ color:#999;}
.star_div h2{ position:relative;width:205px; height:32px; overflow:hidden; background:none; line-height:100px; border-bottom:1px solid #d7d7d7; margin-left:10px;}	 
	.star_div h2 b{width:205px; height:32px;position:absolute;top:2px; left:2px; }	 
	.star_div .starul_img{ border-top:1px solid #fff; width:215px; margin-left:10px; padding-top:10px;}	 
	.star_div .starul li a{overflow:hidden; display:block; width:210px; height:26px;line-height:26px;}
	.star_div .starul li{ border-bottom:1px dashed #d7d7d7;}
	.star_div .starul li.ou{border:none;}
	.star_div .starul{width:215px; margin-left:10px; padding-top:10px;}
	 
/**== 最新上架_start ==**/
.new_grounding{width:946px; margin:10px auto 10px auto; border:1px solid #E0E0E0; padding:1px;}
	.new_grounding .silde_bg{ padding:5px; height:299px;}
	.new_grounding .new_white{ background:#fff;}
	.new_grounding .new_leftImg{ float:left; width:280px; padding-top:10px;}
	.new_grounding .new_leftImg a,.new_grounding .new_leftImg a img{ display:block; width:270px; height:245px; overflow:hidden;}
		.new_grounding .new_leftImg p{ padding-bottom:10px; padding-left:10px;}
	.new_grounding #star_div{ height:auto; width:100%; overflow:hidden;}
	.new_grounding #star_div ul{ width:120%; margin:auto; height:auto; padding-bottom:13px; float:none; padding-left:17px;}
	.new_grounding #star_div ul li{ margin:0; padding:0 15px; overflow:hidden;}
	.new_grounding #star_div .span_info{ background:url(img/sport/shoe_33.jpg) 0 0 no-repeat; height:20px; width:145px; line-height:20px; overflow:hidden; text-align:left; text-indent:10px; color:#fff; font-weight:bold; display:block; margin-top:4px;}
	.new_grounding .star_div{float:right;width:642px; height:510px;overflow:hidden;}
	.new_grounding .star_ul{width:644px; padding-left:0; margin:0; padding-top:10px; overflow:hidden; height:245px;}
		.new_grounding .star_ul li{width:150px; margin-bottom:0; line-height:23px; height:auto;}
		.new_grounding .star_ul li b{ font-size:16px;}
.title_key span.new_ground{width:72px;height:36px;top:-10px;left:0; background-position:-232px -323px; display:block; z-index:9;}
	.new_grounding .title_key h2 b,.new_grounding .title_key h2 a{ width:260px;}
	 
	 

	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
