.qzdl{display:none;background:url(http://static.zongheng.com/v2_0/images/chapterRead/qzdl_bg.png) no-repeat;width:721px;height:442px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.zongheng.com/v2_0/images/chapterRead/qzdl_bg.png', sizingMethod='crop');}
.qzdl .qzdl_rg{width:721px;}
.qzdl .qzdl_rg span{color:#3e6283;margin-top:60px;padding-left:23px;width:300px;float:left;text-align:left;}
.qzdl .qzdl_input{width:721px;}
.qzdl .qzdl_input .dlzh{width:340px;float:left;margin-top:50px;}
.qzdl .qzdl_input .zczh{width:370px;float:left;margin-top:60px;}
.qzdl .qzdl_input .dlzh span{color:#ff9000;padding-left:34px;margin-top:8px;display:block;text-align:left;}
.qzdl_tit{color:#0f305b;height:35px;*height:30px;padding:3px 8px 3px 0px;}
.qzdl_sr input{border:1px solid #a5b9c4;height:16px;width:145px;background:url(http://static.zongheng.com/v2_0/images/chapterRead/input_bg.jpg) repeat-x;padding-top:4px;_position:relative;}
.qzdl_sryz input{border:1px solid #a5b9c4;height:16px;width:76px;background:url(http://static.zongheng.com/v2_0/images/chapterRead/input_bg.jpg) repeat-x;padding-top:4px;margin-bottom:8px;_position:relative;}
.qzdl_sryz img{margin-left:12px;cursor:pointer;_position:relative;}
.qztc_dl,.qztc_zhmm,.qztc_tj,.qztc_cz{float:left;margin-top:6px;}
.qztc_dl,.qztc_tj{padding-left:50px;}
.qztc_zhmm,.qztc_cz{padding-left:20px;}
.qztc_dl a{display:block;width:102px;height:42px;background:url(http://static.zongheng.com/v2_0/images/chapterRead/qztc_dl1.jpg) no-repeat;_position:relative;}
.qztc_dl a:hover{background:url(http://static.zongheng.com/v2_0/images/chapterRead/qztc_dl.jpg) no-repeat;}
.qztc_zhmm a{display:block;width:121px;height:42px;background:url(http://static.zongheng.com/v2_0/images/chapterRead/qztc_zhmm1.jpg) no-repeat;_position:relative;}
.qztc_zhmm a:hover{background:url(http://static.zongheng.com/v2_0/images/chapterRead/qztc_zhmm.jpg) no-repeat;}
.qztc_tj a{display:block;width:102px;height:42px;background:url(http://static.zongheng.com/v2_0/images/chapterRead/qztc_tj1.jpg) no-repeat;_position:relative;}
.qztc_tj a:hover{background:url(http://static.zongheng.com/v2_0/images/chapterRead/qztc_tj.jpg) no-repeat;}
.qztc_cz a{display:block;width:102px;height:42px;background:url(http://static.zongheng.com/v2_0/images/chapterRead/qztc_cz1.jpg) no-repeat;_position:relative;}
.qztc_cz a:hover{background:url(http://static.zongheng.com/v2_0/images/chapterRead/qztc_cz.jpg) no-repeat;}
.zczh .zczh_cw span,.zczh .zczh_zq span{float:left;padding-left:2px;padding-top:3px;}
.zczh .zczh_cw span{color:#bf2021;}
.zczh .zczh_zq span{color:#759c02;}
.zczh .zczh_cw span.tp{background:url(http://static.zongheng.com/v2_0/images/bg.gif) no-repeat left -1456px;width:16px;height:16px;padding:0px;}
.zczh .zczh_zq span.tp{background:url(http://static.zongheng.com/v2_0/images/bg.gif) no-repeat left -1434px;width:16px;height:16px;padding:0px;}
.zczh .zczh_mr{color:#666;}
.zczh .zczh_mr,.zczh .zczh_zq,.zczh .zczh_cw{padding:0px 5px;}
.qzdl_sr .safe{ clear:both;padding-top:8px}
.qzdl_sr .safe em{color:#FFFFFF;line-height:20px;margin-right:2px;padding:0 15px;background:#ccc; float:left}
.qzdl_sr .safe .red {background:#f00;}
.qzdl_sr .safe .blue {background:#268CC5;}
.qzdl_sr .safe .green {background:#8EC700;}