@charset "utf-8";
/* CSS Document */

/**==调用公用背景==**/
.user_fristConetents .user_welInfo,
.my_contrlModules .my_zShowTitle b,
.my_contrlModules .show_listContrl dt,
.my_contrlModules .show_listContrl .up,
.my_contrlModules .show_listContrl .down,
.my_contrlModules .show_listContrl dd a,
.user_fristConetents .user_order_detaillbi .u_order_dl .y_money,
.user_fristConetents .userBrowseGoods .Browse_ul .bro_money,
.right_zouModules h3,.right_zouModules .list_txt a,
.userCenterDiv .sl,.userCenterDiv .rs,
.my_contrlModules .show_listContrl h3,
.pesonalDate .h5_span,.pesonalDate .addChilden,
.pesonalDate h5,.tab_var .tab_ul li a,
.tab_var .tabs_div .o_ul,.Tips .s,
.tab_var .tabs_div .r_comskt dt,
.tab_var .tabs_div .orderTab .s4 .lkat,
.leanv_list li h3,.leanv_list li h4 a,
.u_tableDiv .u_table th,.Lakat,
.adressTitle,.adressAdd,.adressrest,
.messageDiv .u_table th,.editfont,
.user_fristConetents .userBrowseGoods .relus li,
.right_zouModules .makTab .tab_ul li a,
.right_zouModules .makDiv .breMoney{background:url(img/userCenter/user_center.gif) 0 0 no-repeat;}

/**==公用按钮==**/
.all_b_style_bg,.all_w_style_bg,.y_alButStyle,.w_alButStyle,.all_bw_style_bg,
.user_fristConetents .userBrowseGoods .go a,.all_b_style_bg_small,.right_zouModules .makDiv .tadaybut{background:url(img/userCenter/all_b_style_bg.gif) 0 0 no-repeat;}
/***==用户中心三栏布局模式_start==***/
.userCenterDiv{ width:928px; background:#fff; margin:2px auto; border:1px solid #e6e6e6; padding:10px;}
.userCenterDiv .sl,.userCenterDiv .rs{position:absolute; width:11px; height:10px; display:block;}
.userCenterDiv .sl{ left:-1px; top:-1px; background-position:-191px 0;}
.userCenterDiv .rs{ right:-1px; top:-1px; background-position:-191px -13px;}

/***==中间内容块_start==***/
.user_fristConetents{width:730px; display:block; overflow:hidden;float:right; text-align:left}
.user_w{width:510px; margin-right:10px}
.user_fristConetents .user_welInfo{border-bottom:4px solid #d7d7d7; font-size:14px; height:36px; line-height:36px; padding-left:30px; color:#fc621c; background-position:10px -59px;}
.user_fristConetents .user_welInfo .user_showloginTime{ float:right; padding-right:10px; color:#999; font-weight:normal;font-size:12px;}

/**==用户个人详情==**/
.user_fristConetents .user_order_detaillbi{ width:510px; overflow:hidden; height:190px; background:url(img/userCenter/bg_line.gif) 0  bottom repeat-x; margin-bottom:12px;}
.user_fristConetents .user_order_detaillbi .u_order_dl{display:block; padding:15px 10px;width:490px; height:160px; line-height:32px;}
.user_fristConetents .user_order_detaillbi .u_order_dl dt{ float:left; width:80px; padding-right:10px; text-align:right; color:#000;}
.user_fristConetents .user_order_detaillbi .u_order_dl dd{ float:left; width:400px;}
.user_fristConetents .user_order_detaillbi .u_order_dl dd a{ display:block; float:left; width:120px; text-align:left;}
.user_fristConetents .user_order_detaillbi .u_order_dl .y_money{ background-position:-212px -39px; color:#f8242f; font-weight:bold; padding-left:10px;}
.user_fristConetents .user_order_detaillbi .u_order_dl .p_integral{ float:right; width:180px; text-align:left; color:#000;}
.user_fristConetents .user_order_detaillbi .u_order_dl dd a em{ color:#f8242f; font-style:normal; font-weight:bold}
.user_fristConetents .user_order_detaillbi .u_order_dl .p_integral span{color:#f8242f; font-weight:bold;}

/**==最近浏览商品==**/
.user_fristConetents .userBrowseGoods{ width:510px; overflow:hidden; margin-bottom:12px;}
.user_fristConetents .userBrowseGoods h2{ height:30px; background:#f0f0f0; line-height:30px; text-indent:15px; color:#555; font-size:12px; margin-bottom:15px;}
.user_fristConetents .userBrowseGoods .Browse_ul{ width:500px; padding-left:10px; overflow:hidden;}
.user_fristConetents .userBrowseGoods .Browse_ul li{float:left; width:80px; height:170px; overflow:hidden; padding-right:20px;}
.user_fristConetents .userBrowseGoods .Browse_ul .Bro_GoodsImg{ border:1px solid #d0cece; width:78px; height:78px; padding:1px; overflow:hidden; display:block;}
.user_fristConetents .userBrowseGoods .Browse_ul .Bro_GoodsImg:hover{ border:1px solid #f29c21;}
.user_fristConetents .userBrowseGoods .Browse_ul .Bro_GoodsImg img{ height:78px; width:78px; overflow:hidden;}
.user_fristConetents .userBrowseGoods .Browse_ul .Bro_txt{ height:36px; width:80px; overflow:hidden; display:block; line-height:18px; margin:10px 0;}
.user_fristConetents .userBrowseGoods .Browse_ul .bro_money{background-position:-212px -38px; color:#d80c18; font-weight:bold; padding-left:10px;}

.user_fristConetents .userBrowseGoods .relus,.user_fristConetents .userBrowseGoods .relu{ padding:0 10px 10px;}
.user_fristConetents .userBrowseGoods .relus li{ background-position:-209px -672px; height:27px; line-height:27px; padding-left:15px; border-bottom:1px solid #dfdfdf;}
.user_fristConetents .userBrowseGoods .go{ padding:5px 5px 20px; padding-left:25px;}
.user_fristConetents .userBrowseGoods .go a{ display:inline-block; height:28px; width:122px; color:#fff; background-position:0 -108px; font-weight:bold; line-height:28px; text-align:left; text-indent:5px;}
.user_fristConetents .userBrowseGoods .go a:hover{ background-position:0 -136px;}
.user_fristConetents .userBrowseGoods .relu p{ line-height:18px; margin-bottom:10px; position:relative; width:490px; padding-left:20px; border-bottom:1px solid #dfdfdf; padding-bottom:8px;}
.user_fristConetents .userBrowseGoods .relu p font{color:#f26521;}
.user_fristConetents .userBrowseGoods .relu p span{ height:18px; line-height:18px; position:absolute; left:0px; top:0;}
/***==中间内容块_end==***/

/***==左边我的走秀模块(公用)_start==***/
.my_contrlModules{width:178px; float:left;border:1px solid #e6e6e6;}
.my_contrlModules .my_zShowTitle{height:178px; height:52px; position:relative; z-index:1;}
.my_contrlModules .my_zShowTitle b{display:block; position:absolute; left:-1px; top:-1px; height:53px; width:180px; overflow:hidden; z-index:3; background-position:0 0;}
.my_contrlModules .show_listContrl{ width:178px;}
.my_contrlModules .show_listContrl dt,.my_contrlModules .show_listContrl h3,.pesonalDate h5{display:block; height:31px; padding-left:10px; font-weight:bold; color:#363636; line-height:31px; cursor:pointer; position:relative; z-index:1; background-position:0 -128px;}
.my_contrlModules .show_listContrl dt span{display:block; height:9px; width:7px; overflow:hidden; right:10px; top:10px; position:absolute; z-index:3;}
.my_contrlModules .show_listContrl .up{ background-position:right 0;}
.my_contrlModules .show_listContrl .down{background-position:right -10px;}
.my_contrlModules .show_listContrl dd{ width:178px; margin:0 auto; overflow:hidden; padding:6px 0;}
.my_contrlModules .show_listContrl dd a{ display:block; height:22px; line-height:22px; overflow:hidden; padding-left:30px; background-position:15px -92px;}
.my_contrlModules .show_listContrl dd a:hover,.my_contrlModules .show_listContrl dd a.on{ color:#e70017;; background-position:-195px -219px; font-weight:bold;}
.my_contrlModules .show_listContrl h3 a{ font-size:12px; color:#555; display:block; background:none; padding:0; margin:0; display:inline;  height:auto; line-height:31px;}
/***==左边我的走秀模块(公用)_end==***/

/***==右边模块_start==***/
.right_zouModules{width:211px; float:right; border:1px solid #e6e6e6; background-color:#f0f0f0;}
.right_zouModules h3{ height:29px; background-position:0 -184px; color:#fff; text-indent:12px; line-height:29px; position:relative; left:-1px; top:-1px; width:213px; font-size:12px;}
.right_zouModules .mdiv_t{ padding:10px 6px; width:198px; line-height:18px;}
.right_zouModules .mdiv_t .img{ height:180px; width:196px; border:1px solid #dfdfdf; display:block; margin:10px auto 0 auto;}
.right_zouModules .list_txt a{ height:22px; line-height:22px; overflow:hidden; width:186px; display:block; background-position:-216px -199px; padding-left:10px;}
.right_zouModules .list_txt a:hover{background-position:-216px -172px;}
.right_zouModules .mdiv_t .blue{ color:blue; text-decoration:underline;}
.right_zouModules .mdiv_t .blue:hover{ color:#fc8b0b; text-decoration:none;}
.right_zouModules .makTab{width:212px; overflow:hidden;}
.right_zouModules .makTab .tab_ul{ padding-left:5px; margin-bottom:0;}
.right_zouModules .makTab .tab_ul li{ width:100px; overflow:hidden;}
.right_zouModules .makTab .tab_ul li a{ background-position:0 -502px; color:#fff; font-weight:bold; width:100px;}
.right_zouModules .makTab .tab_ul li a:hover,.right_zouModules .makTab .tab_ul li a.on{ background-position:0 -473px;}
.right_zouModules .makDiv{ padding-bottom:10px;}
.right_zouModules .makDiv h2{ font-size:12px; height:25px; line-height:25px; margin:5px 0 10px; width:210px; overflow:hidden; text-indent:5px;}
.right_zouModules .makDiv .makImg{ width:90px; height:90px; float:left; margin-right:10px; display:inline-block; margin-left:10px;}
.right_zouModules .makDiv .makImg img{ width:90px; height:90px; overflow:hidden;}
.right_zouModules .makDiv .breMoney{ background-position:-212px -38px; color:#D80C18; font-weight:bold; padding-left:10px;}
.right_zouModules .makDiv .tadayTuan{ clear:both; display:block; height:30px; line-height:30px; text-indent:10px;}
.right_zouModules .makDiv .tadayTuan a{ color:blue;}
.right_zouModules .makDiv .tadayTuan a span{ color:#999; }
.right_zouModules .makDiv .tadayp{ padding:20px 5px 0;}
.right_zouModules .makDiv .tadaybut{ width:83px; height:28px; color:#fff; font-weight:bold; font-size:14px; text-align:center; line-height:28px; display:inline-block; background-position:0 -52px;}
.right_zouModules .makDiv .tadaybut:hover{ background-position:-87px -52px; color:#fff;}
/***==右边模块_end==***/

/***==用户中心三栏布局模式_end==***/

/**== 个人资料 ==**/
.pesonalDate{ width:730px;}
.pesonalDate h5{ height:26px; background-repeat:repeat-x; font-size:12px; line-height:26px; margin-top:12px; font-weight:normal; cursor:default;background-position:0 -133px; color:#555;}
.pesonalDate h5.m{ margin-top:0; margin-left:0;}
.pesonalDate .h5_span{ background-position:-215px -250px; height:26px; width:10px; display:block; float:left;}
.pesonalDate .pesonalDiv{ padding:15px 5px 8px; width:720px; overflow:hidden;}
.pesonalDate .pesonalDiv .pesonalTab{ width:720px;}
.pesonalDate .pesonalDiv .pesonalTab input{ vertical-align:middle; margin-right:3px;}
.pesonalDate .pesonalDiv .pesonalTab th,.pesonalDate .pesonalDiv .pesonalTab td{ padding:8px 0; color:#000;}
.cl{ color:#999797;}
.but_sty{ padding-top:20px;}
.pesonalDate .pesonalDiv .pesonalTab th{ width:80px; padding-right:10px; text-align:right; font-weight:normal; color:#555;}
.pesonalDate .i_t{border:1px solid #cac9c9; height:19px;}
.pesonalDate .i_b{width:150px;}
.pesonalDate .i_s{ width:80px;}
.pesonalDate .i_e{ width:560px; height:100px; padding:5px; color:#7c7a7a;}/** 文本域样式 **/
.pesonalDate .pesonalDiv .pesonalTab .addpad{ padding-right:100px;}
.pesonalDate .addChilden,.adressAdd{ height:86px; height:16px; padding-left:17px; background-position:0 -285px; float:right; display:block; padding-right:10px; border:1px solid #a6a4a4;}
.pesonalDate .pesonalDiv .pesonalTab .tabTr td,.pesonalDate .pesonalDiv .pesonalTab .tabTr th{ background:url(img/userCenter/bg_line.gif) 0 bottom repeat-x;}
.pesonalDate .pesonalDiv .pesonalTab .t_dateTable td,.pesonalDate .pesonalDiv .pesonalTab .t_dateTable th{ background-image:none; padding:4px 0; color:#000;}
.pesonalDate .pesonalDiv .pesonalTab .t_dateTable td.tc{ color:#555;}
.pesonalDate .pesonalDiv .pesonalTab .txtTop{ vertical-align:top;}
.pesonalDate .pesonalDiv .txtc{ text-align:center;}
.pesonalDate .pesonalDiv .all_b_style_bg{ float:none;}

/**== 订单中心 ==**/
.order_info{ height:80px; padding:15px 30px 0; line-height:22px;}
.order_info span{ font-weight:bold; color:#f0661e;}
.order_info strong{ color:#000; margin-left:2px;}
.tab_var{width:730px;}
.tab_var .tab_ul{ width:730px; height:27px; overflow:hidden; border-bottom:2px solid #fba540; margin-bottom:20px;}
.tab_var .tab_ul li{ display:inline; float:left; height:27px; width:114px; text-align:center; margin-right:2px;}
.tab_var .tab_ul li a{ display:block; height:27px; width:114px; overflow:hidden; font-size:12px; color:#444; background-position:0 -439px; line-height:27px;}
.tab_var .tab_ul li a:hover,.tab_var .tab_ul li .on{ font-weight:bold; color:#fff; background-position:0 -412px;}
.tab_var .tab_ul a.right{ position:absolute; right:0; top:5px; width:110px; background:url(img/userCenter/zf.gif) 0 0px no-repeat; padding-left:20px; height:18px; line-height:18px;}

.tab_var .tabs_div{ width:730px;}
.tab_var .tabs_div .orderTab{ font-size:12px;width:730px;}
.tab_var .tabs_div .orderTab li{ float:left;text-align:center; list-style-type:none;}
.tab_var .tabs_div .orderTab .s1{ width:400px;}
.tab_var .tabs_div .orderTab .s2{ width:92px;}
.tab_var .tabs_div .orderTab .s3{ width:65px;}
.tab_var .tabs_div .orderTab .s4{ width:85px;}
.tab_var .tabs_div .orderTab .s5{ background:none;}
.tab_var .tabs_div .o_ul{ height:28px; background-position:0 -312px; background-repeat:repeat-x; border:1px solid #d6d6d6; width:728px; line-height:28px; }
.tab_var .tabs_div .o_ul li{ display:block; background:url(img/userCenter/r.gif) right 0 no-repeat;}
.tab_var .tabs_div .r_comskt{ width:730px; display:none;}
.tab_var .tabs_div .r_comskt dt{ height:29px; background-position:0 -340px; background-repeat:repeat-x; line-height:29px; overflow:hidden; width:730px; }
.tab_var .tabs_div .r_comskt dt span{ margin:0 10px;}
.tab_var .tabs_div .r_comskt dt .blue{color:#181c97; text-decoration:underline;}
.tab_var .tabs_div .r_comskt dt .blue:hover{ color:#fc8b0b; text-decoration:none;}
.tab_var .tabs_div .r_comskt dt .sw{ float:right; margin-right:10px;}
.tab_var .tabs_div .r_comskt dd{ height:109px; overflow:hidden;}
.tab_var .tabs_div .r_comskt dd li{ height:108px; overflow:hidden; border-bottom:1px solid #f0f0f0; }
.tab_var .tabs_div .r_comskt dd .a{ float:left; border-right:1px solid #f0f0f0; margin-right:10px; padding:10px 10px 0; display:block; height:100%;}
.tab_var .tabs_div .r_comskt dd .a img{ width:78px; height:78px; overflow:hidden; border:1px solid #dfdfdf; padding:1px;}
.tab_var .tabs_div .r_comskt dd .s1{ text-align:left;}
.tab_var .tabs_div .r_comskt dd .s1,.tab_var .tabs_div .r_comskt dd .s2,.tab_var .tabs_div .r_comskt dd .s3,.tab_var .tabs_div .r_comskt dd .s4{ border-right:1px solid #f0f0f0; line-height:100px; overflow:hidden;}
.tab_var .tabs_div .r_comskt dd .s5{ width:81px; border-right:none;}
.tab_var .tabs_div .r_comskt dd .s1{ line-height:20px;}
.tab_var .tabs_div .r_comskt dd .s1 .elementsPadding{ padding-top:20px;}
.tab_var .tabs_div .orderTab .s4 .lkat,.Lakat{ display:inline-block; width:58px; height:21px; line-height:21px; background-position:0 -375px; margin:auto;}

.tips_tab{ background:url(img/userCenter/bg_line.gif) 0  bottom repeat-x; padding-bottom:30px;}
.Tips{ height:38px;background:url(img/userCenter/bg_line.gif) 0  bottom repeat-x; line-height:38px; padding-left:20px;}
.Tips .s{ width:15px; height:22px; background-position:-205px -378px; display:block; float:left; margin-top:5px; margin-right:10px;}
.Tips .cr{ background:url(img/userCenter/cr.gif) 0 7px no-repeat; padding-left:10px;}

/**== 商品中心 ==**/
.u{ margin-top:20px;}
.g_tags{ width:730px;}
.g_tags .g_tabs{ display:none;}
.g_tags .g_tabs .selectD{ float:right; margin-right:10px; border:1px solid #7f9db9; margin-top:4px;}
.g_tags .g_tabs .g_ul{ width:730px;}
.g_tags .g_tabs .g_ul li{ background:url(img/userCenter/bg_line.gif) 0 bottom repeat-x; display:block; width:100%; padding:15px 10px;}
.g_tags .g_tabs .g_ul .r_a{ float:left; padding:1px; border:1px solid #dfdfdf; width:80px; height:80px; overflow:hidden;}
.g_tags .g_tabs .g_ul .r_a img{ height:80px; width:80px; overflow:hidden;}
.g_tags .g_tabs .g_ul p{ width:150px; display:block; margin-left:95px; overflow:hidden; height:18px; line-height:18px;}
.g_tags .g_tabs .g_ul p.but{ height:auto; padding-top:8px;}
.g_tags .g_tabs .roect,.roect{ padding:10px; text-align:right;}
.all_b_style_bg_small{ width:73px; height:21px; background-position:0 -204px; color:#fff; display:inline-block; text-align:center; line-height:21px; overflow:hidden;}
.all_b_style_bg_small:hover{ background-position:-73px -204px; color:#fff;}


/**== 公用按钮 ==**/
.al_auto{ margin:0 auto;}
.all_b_style_bg{ width:83px; height:26px; background-position:0 0; color:#fff; display:block;text-align:center; line-height:26px; overflow:hidden; float:left}
.all_b_style_bg:hover{ background-position:-87px 0; color:#fff;}
.all_bw_style_bg{ width:83px; height:26px; background-position:0 -26px; color:#fff; display:inline-block; text-align:center; line-height:26px; overflow:hidden;}
.all_bw_style_bg:hover{ background-position:-87px -26px; color:#fff;}
.all_w_style_bg{background-position:0 -164px; height:20px; width:112px; display:inline-block; line-height:20px; text-align:center; margin-left:10px; padding-right:10px;}
.m{ position:relative; margin:8px 0 -7px 10px;}
/*yellow but*/
.y_alButStyle{ width:83px; height:28px; color:#fff; text-align:center; line-height:28px; background-position:0 -52px; display:inline-block; font-size:15px; font-weight:bold;}
.y_alButStyle:hover{ background-position:-87px -52px; color:#fff; font-weight:bold;}
/*white but*/
.w_alButStyle{height:20px; width:71px; text-align:center; padding-right:12px; background-position:0 -184px; display:inline-block; line-height:20px;}
/**== 留言管理 ==**/
.leanv_list{ margin-top:10px;}
.leanv_list li{ padding:10px 10px 5px; background:url(img/userCenter/bg_line.gif) 0 bottom repeat-x; }
.leanv_list li h3{ background-position:-206px -412px; height:22px; line-height:22px; color:#555; font-size:12px; padding-left:20px;}
.leanv_list li h3 span{ margin-left:50px; color:#888; font-weight:normal;}
.leanv_list li .elementsHero{ padding:5px; line-height:22px;}
.leanv_list li h4{ height:22px; display:block; width:700px; text-align:right; font-weight:normal; font-size:12px;}
.leanv_list li h4 a{ padding-left:28px; height:22px; line-height:22px;}
.leanv_list li h4 .t{ background-position:-196px -452px;}
.leanv_list li h4 .u{ background-position:-196px -486px;}
.leanv_list li h4 .t:hover{ background-position:-196px -573px;}
.leanv_list li h4 .u:hover{ background-position:-196px -531px;}

/***===翻页===***/
.page_div{ width:730px; height:22px; padding:10px 0; border-bottom:1px solid #dfdfdf;}
.page_noe{ border:none;}
.page_div .page_ul{ height:22px; overflow:hidden; float:right; padding-right:20px;}
.page_div li{float:left; padding:0 5px;}
.page_div .l_page a{ display:block; background:url(img/userCenter/l_page.gif) left center no-repeat; padding-left:10px; line-height:22px;}
.page_div .l_page a:hover{ color:#ff6701; background:url(img/userCenter/l_page_h.gif) left center no-repeat;}
.page_div .page_num{ padding-top:2px; height:20px;}
.page_div .page_num a{ display:inline; padding:1px 6px; border:1px solid #b8b8b8; margin:0 4px;}
.page_div .page_num a:hover{border:1px solid #ff6701; color:#ff6701;}
/**.page_div .r_page a{ display:block; background:url(img/userCenter/r_page.gif) right center no-repeat; padding-right:10px; line-height:22px; height:22px; float:left;}
.page_div .r_page a:hover{ color:#ff6701; background:url(img/userCenter/r_page_h.gif) right center no-repeat;}
**/
.page_div .pageTo{ line-height:22px;}
.page_div .pageTo .txt_inpt{ height:18px; width:33px; border:1px solid #b8b8b8; text-align:center; vertical-align:middle; margin:0 3px; margin-top:-2px!important;}
.page_div .page_sure a{ background:url(img/userCenter/page_sure.gif) 0 0 no-repeat; height:19px; width:46px; text-align:center; line-height:19px; display:block; margin-top:1px; overflow:hidden; color:#666;}
.page_div .page_sure a:hover{ color:#000;}
.page_div .checkbox{float:left; text-align:left; width:250px;}
.page_div .checkbox input{vertical-align:middle;}

/**== 账户日志 ==**/
.log_ul li{ padding-left:20px;}
.log_ul li h3{ background:none; padding:0; margin-bottom:5px;}
.log_ul li h3 a{ float:right; margin-right:5px; font-weight:normal;}
.log_ul li .a{ display:block; color:red; margin-top:5px;}
.log_ul li .time{ color:#888;}
.log_ul li .elementsHero{ padding:5px 0;}
.editfont{ background-position:-202px -610px;  padding:1px 0; padding-left:25px; margin-left:20px;}

/**== 购买咨询 ==**/
.u_tableDiv{ width:730px; padding-top:20px;}
.u_tableDiv .u_table{ width:730px; border:1px solid #dfdfdf;}
.u_tableDiv .u_table td,.u_tableDiv .u_table th{ border:1px solid #dfdfdf; padding:5px; text-align:center;}
.u_tableDiv .u_table th,.messageDiv .u_table th{ height:28px; background-position:0 -312px; background-repeat:repeat-x; font-weight:normal; color:#000; line-height:28px; padding:0px;}

/**== 好友邀请_消息订阅 ==**/
.vnakdr_t{ padding:15px 30px ;}
.vnakdr_t p { color:#555; line-height:20px;}
.vnakdr_t .r{ color:#e70017;}
.vnakdr_t .txt_i{ width:400px; border:1px solid #dfdfdf; float:left; margin-right:10px; margin-top:3px; height:20px;}
.vnakdr_t .vnTop{ padding-top:20px;}
.vnakdr_t .txtColor{ color:#777;}

.paddingAllDiv{ padding:20px 30px;}
.paddingAllDiv .pAll{ height:20px; margin-bottom:30px; line-height:20px; color:#000;}
.paddingAllDiv .PallMargin a{ margin-right:20px;}
.pchangesphone{ padding:20px 0;}
.pchangesphone p input{ vertical-align:middle;}
.pchangesphone .txt, .userform p .txtArea{ border:1px solid #c7c7c7; width:365px; height:20px;}
.pchangesphone p{ position:relative; padding-left:130px; line-height:27px;}
.pchangesphone label{position:absolute; left:0; top:0; width:120px; text-align:right;}
.pchangesphone  .tpad{ padding-bottom:20px;}
.pchangesphone .gray{ padding-bottom:25px;}
.paddingAllDiv .userform{ padding:0;}
.paddingAllDiv .userform p{ padding-left:70px; line-height:24px; margin-bottom:10px; color:#000;}
.paddingAllDiv .userform p label{ width:60px; color:#666;}
.paddingAllDiv .userform p .txt{ width:100%;}
.paddingAllDiv .userform p .txtArea{ height:70px; width:100%;}

.editDiv p{ padding:5px 0; height:20x; line-height:20px;}
.editDiv p input{ vertical-align:middle; border:1px solid #cac9c9; height:18px;}
.editDiv p label{ display:inline-block; width:210px; text-align:right;}
.editDiv p .gray, .pchangesphone .gray{ color:#999797;}
.editDiv p.b_style a{ margin-left:215px; margin-top:20px;}


/**== 收货地址_start ==**/
.adressTitle{background-position:-202px -640px; padding-left:25px;}
.adressAdd{position:absolute; left:80px;top:3px; line-height:17px;}
.adressrest{position:absolute; left:80px;top:3px; line-height:17px; background-position:0 -264px; padding-left:20px;}
.address_div{ padding-bottom:20px;}
.address_div .add_table{width:100%; border-collapse:collapse; border:none; text-align:left;}
.address_div .add_table th{font-weight:normal;text-align:right; padding:10px 5px;}
.address_div .blue{ color:#181a95; text-decoration:underline;}
.address_div .blue:hover{ color:#fc8b0b; text-decoration:none;}
.address_div .cor_iut{border:1px solid #b3b3b3; height:22px; padding-left:5px;}
.address_div .c_time{ padding:20px 40px;}

.address_div .add_table .adreassBut{ padding-top:25px;}
.address_div .add_table .adreassBut a{ margin-right:20px;}


/***==站内消息管理_start==***/
.messageDiv .u_table{ width:100%; border:1px solid #dfdfdf;}
.messageDiv .u_table th,.messageDiv .u_table td{border:1px solid #dfdfdf; text-align:center;}
.messageDiv .u_table td{ padding:4px 0;}
.messageDiv .messagetab{ display:none;}
.messageDiv .messagetab .txtl{ text-align:left; padding-left:5px;}



/**==公告==**/
.news{ width:950px; margin:0 auto; color:#000;}
.news h2{ font-size:14px; display:block;  text-align:center; line-height:30px; height:30px;}
.news .newscontents{ padding:30px; line-height:18px;}
.news .newscontents p{ padding-bottom:10px;}
