@charset "utf-8";
/* CSS Document */

/**== 各模块复用_start ==**/
.my_shoppingCart, .wares_div, .setted_d, .add_address, .indent_Not { width:950px; margin:0 auto; overflow:hidden; }
/**== 购物流程公用_start ==**/
.war_cannt_but, .shop_list .st_ul .sli_on, .shop_list .st_ul .sli_of, .shop_list .st_ul .sli_un, .shop_list .st_ul .sli_l, .pro .cr, .wares_div .wartab_div .war_tab th, .wares_div .wartab_div .war_c, .wares_div .wartab_div .war_s, .war_but, .war_bdel, .item_ul .itemdiv .item_a a, .setted_d span.continue_sel b, .setted_d span.sel_spa b, .setted_d .set_str, .set_far b, .add_address .addh2_bg, .isBut_Div .isbut_t, .isBut_Div .isbut_b, .isBut_Div .isbut_w, .isBut_Div .isbut_wb, .add_address .favorable_d .on, .add_address .favorable_d .out, .add_address .subinit strong, .add_address .subinit .sum .sum_sure, .add_address .d_dl .on, .add_address .d_dl .out, .indent_Not .form_suc .st, .shop_list .st_ul .sli_b, .add_address h2.addh2_bg .return, .add_address h2.addh2_bg .add, .add_address h2.addh2_bg .return a, .add_address h2.addh2_bg .add a, .add_address h2.addh2_bg .address_bg, .add_address h2.addh2_bg .address_bg a, .add_address .war_bdel a, .add_address h2.addh2_bg .all_elments a, .shop_list h4.indent_line .s_bg, .setted_d span.aging a b{ background:url(img/s_shop.gif) 0 0 no-repeat; }
/**== 购物车进度条_start ==**/
.shop_list { height:40px; padding-top:15px; }
.shop_list .st_ul { width:768px; height:33px; margin:0 auto; }
.shop_list .st_ul li { float:left; width:235px; background:#e2e2e2; height:24px; text-align:center; line-height:24px; font-size:14px; font-weight:bold; _overflow:hidden }
.shop_list .st_ul .sli_bg { background:#82bf38; color:#fff; }
.shop_list .st_ul .sli_on, .shop_list .st_ul .sli_of,  .shop_list .st_ul .sli_un, .shop_list .st_ul .sli_l,  .shop_list .st_ul span.sli_b { width:27px; height:32px; float:right; overflow:hidden; position:relative; margin-top:-4px; }
.shop_list .st_ul span.sli_on { background-position:0 0; }
.shop_list .st_ul span.sli_of { background-position:-27px 0; }
.shop_list .st_ul span.sli_un { background-position:-54px 0; }
.shop_list .st_ul span.sli_l { background-position:-88px -1px; }
.shop_list .st_ul span.sli_b { background-position:-223px -146px; }
/**== 复用按钮背景_s ==**/
.isBut_Div { height:25px; display:inline; line-height:normal; }
.isBut_Div span { height:25px; float:left; display:block; margin-right:10px; _margin-right:5px; }
.isBut_Div .isbut_t { background-position:right -320px; padding-right:5px; line-height:normal; }   /**= 橙色 =**/
.isBut_Div .isbut_w { background-position:right -370px; padding-right:5px; line-height:normal; } /**= 白色 =**/
.isBut_Div .isbut_b, .isBut_Div .isbut_wb { border:none; height:25px; cursor:pointer; line-height:normal; }
.isBut_Div .isbut_wb { background-position:left -345px; color:#555; padding-left:5px; }
.isBut_Div .isbut_b { background-position:left -395px; color:#fff; padding-left:5px; }
.isBut_Div .isbut_b:hover { color:#000; }

/**==公用按钮==**/
.all_b_style_bg, .all_w_style_bg, .y_alButStyle, .w_alButStyle, .all_bw_style_bg, .user_fristConetents .userBrowseGoods .go a, .all_b_style_bg_small,.elementsButs,.elementsButlong ,.Lring_but,.allButsomle{ background:url(img/all_b_style_bg.gif) 0 0 no-repeat; }


.sizebg {padding:15px; overflow:hidden; }
.size dl { width:331px;  clear:both; display:block; padding-bottom:6px; *zoom:1;}
.size dl:after{ display:block;clear:both; content:'\0020'; height:0; visibility:hidden;}
.size dt { width:56px; float:left; line-height:25px; color:#333;}
.size dd { width:270px; float:left; }
.size dd a.sizelist { float:left; border:1px #c9c8ce solid; padding:1px 0px; margin-right:12px; color:#646464; font-family:Arial, Helvetica, sans-serif; background:#fff; margin-bottom:5px; white-space:nowrap; }
.size dd a.sizelist span { padding:0px 6px; }
.size dd a.sizelist:hover { border:1px #ff6701 solid; }
.size dd a.checked { background:url(img/ok.gif) #fff no-repeat right bottom; border:1px #ff6701 solid; }