@charset "utf-8";
	
	/**==调用公用背景==**/
.user_fristConetents .user_welInfo,
.my_contrlModules .my_zShowTitle b,
.my_contrlModules .show_listContrl dt,
.my_contrlModules .show_listContrl .up,
.my_contrlModules .show_listContrl .down,
.my_contrlModules .show_listContrl dd a,
.user_fristConetents .user_order_detaillbi .u_order_dl .y_money,
.user_fristConetents .userBrowseGoods .Browse_ul .bro_money,
.right_zouModules h3,.right_zouModules .list_txt a,
.userCenterDiv .sl,.userCenterDiv .rs,
.my_contrlModules .show_listContrl h3,
.pesonalDate .h5_span,.pesonalDate .addChilden,
.pesonalDate h5,.tab_var .tab_ul li a,
.tab_var .tabs_div .o_ul,.Tips .s,
.tab_var .tabs_div .r_comskt dt,
.tab_var .tabs_div .orderTab .s4 .lkat,
.leanv_list li h3,.leanv_list li h4 a,
.u_tableDiv .u_table th,.Lakat,
.adressTitle,.adressAdd,.adressrest,
.messageDiv .u_table th,.editfont,
.user_fristConetents .userBrowseGoods .relus li,
.tabs_div .o_tab th,.Lakat_long,
.tagul .tagtable .adressAdd{background:url(img/userCenter/user_center.gif) 0 0 no-repeat;}

/**==公用按钮==**/
.all_b_style_bg,.all_w_style_bg,.y_alButStyle,.w_alButStyle,.all_bw_style_bg,
.user_fristConetents .userBrowseGoods .go a,.all_b_style_bg_small,
.selt_txt .submitserech{background:url(img/userCenter/all_b_style_bg.gif) 0 0 no-repeat;}
/**== 公用按钮 ==**/
.al_auto{ margin:0 auto;}
.all_b_style_bg{ width:83px; height:26px; background-position:0 0; color:#fff; display:inline-block; text-align:center; line-height:26px; overflow:hidden;}
.all_b_style_bg:hover{ background-position:-87px 0; color:#fff;}
.all_bw_style_bg{ width:83px; height:26px; background-position:0 -26px; color:#fff; display:inline-block; text-align:center; line-height:26px; overflow:hidden;}
.all_bw_style_bg:hover{ background-position:-87px -26px; color:#fff;}
.all_w_style_bg{background-position:0 -164px; height:20px; width:112px; display:inline-block; line-height:20px; text-align:center; margin-left:10px; padding-right:10px;}
.m{ position:relative; margin:8px 0 -7px 10px;}
/*yellow but*/
.y_alButStyle{ width:83px; height:28px; color:#fff; text-align:center; line-height:28px; background-position:0 -52px; display:inline-block; font-size:15px; font-weight:bold;}
.y_alButStyle:hover{ background-position:-87px -52px; color:#fff; font-weight:bold;}
/*white but*/
.w_alButStyle{height:20px; width:71px; text-align:center; padding-right:12px; background-position:0 -184px; display:inline-block; line-height:20px;}
.all_b_style_bg_small{ width:73px; height:21px; background-position:0 -204px; color:#fff; display:inline-block; text-align:center; line-height:21px; overflow:hidden; margin:0 auto;}
.all_b_style_bg_small:hover{ background-position:-73px -204px; color:#fff;}
.Lakat{ display:inline-block; width:58px; height:21px; line-height:21px; background-position:0 -375px; margin:0 auto;}
.Lakat_long{ display:inline-block; width:98px; height:21px; line-height:21px; background-position:-60px -375px; margin:auto;}

/***==用户中心三栏布局模式_start==***/
.userCenterDiv{ width:928px; background:#fff; margin:2px auto; border:1px solid #e6e6e6;  z-index:1; padding:10px;}
.userCenterDiv .sl,.userCenterDiv .rs{position:absolute; width:11px; height:10px; display:block;}
.userCenterDiv .sl{ left:-1px; top:-1px; background-position:-191px 0;}
.userCenterDiv .rs{ right:-1px; top:-1px; background-position:-191px -13px;}

/***==中间内容块_start==***/
.user_fristConetents{width:730px; }
.user_w{width:510px;}
.user_fristConetents .user_welInfo{border-bottom:4px solid #d7d7d7; font-size:14px; height:36px; line-height:36px; padding-left:30px; color:#fc621c; background-position:10px -59px;}
.user_fristConetents .user_welInfo .user_showloginTime{ float:right; padding-right:10px; color:#999; font-weight:normal;font-size:12px;}

/***==左边我的走秀模块(公用)_start==***/
.my_contrlModules{width:178px; float:left;border:1px solid #e6e6e6;}
.my_contrlModules .my_zShowTitle{height:178px; height:52px; position:relative; z-index:1;}
.my_contrlModules .my_zShowTitle b{display:block; position:absolute; left:-1px; top:-1px; height:53px; width:180px; overflow:hidden; z-index:3; background-position:0 0;}
.my_contrlModules .show_listContrl{ width:178px;}
.my_contrlModules .show_listContrl dt,.my_contrlModules .show_listContrl h3,.pesonalDate h5{display:block; height:31px; padding-left:10px; font-weight:bold; color:#363636; line-height:31px; cursor:pointer; position:relative; z-index:1; background-position:0 -128px;}
.my_contrlModules .show_listContrl dt span{display:block; height:9px; width:7px; overflow:hidden; right:10px; top:10px; position:absolute; z-index:3;}
.my_contrlModules .show_listContrl .up{ background-position:right 0;}
.my_contrlModules .show_listContrl .down{background-position:right -10px;}
.my_contrlModules .show_listContrl dd{ width:178px; margin:0 auto; overflow:hidden; padding:6px 0;}
.my_contrlModules .show_listContrl dd a{ display:block; height:22px; line-height:22px; overflow:hidden; padding-left:30px; background-position:15px -92px;}
.my_contrlModules .show_listContrl dd a:hover,.my_contrlModules .show_listContrl dd a.on{ color:#e70017;; background-position:-195px -219px; font-weight:bold;}
.my_contrlModules .show_listContrl h3 a{ font-size:12px; color:#555; display:block; background:none; padding:0; margin:0; display:inline;  height:auto; line-height:31px;}
/***==左边我的走秀模块(公用)_end==***/



/***== 提示信息_start ==***/
.tips_tab{ background:url(img/userCenter/bg_line.gif) 0  bottom repeat-x; padding-bottom:30px;}
.Tips{ height:38px;background:url(img/userCenter/bg_line.gif) 0  bottom repeat-x; line-height:38px; padding-left:20px;}
.Tips .s{ width:15px; height:22px; background-position:-205px -378px; display:block; float:left; margin-top:5px; margin-right:10px;}
.Tips .cr{ background:url(img/userCenter/cr.gif) 0 7px no-repeat; padding-left:10px;}





















































