<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
		<!-- JdbcType enumeration. Most common are: NULL, VARCHAR and OTHER -->
		<setting name="jdbcTypeForNull" value="NULL" />	
	</settings>
	<typeAliases>
		<typeAlias alias="crawlerXml" type="com.toney.crawler.collection.model.CrawlerXmlModel" />
		<typeAlias alias="crawlerTask" type="com.toney.crawler.collection.model.CrawlerTaskModel" />
		<typeAlias alias="crawlerTaskLog" type="com.toney.crawler.collection.model.CrawlerTaskLogModel" />
		<typeAlias alias="crawlerListTask" type="com.toney.crawler.collection.model.CrawlerListTaskModel" />
		<typeAlias alias="crawlerListTaskLog" type="com.toney.crawler.collection.model.CrawlerListTaskLogModel" />
		<typeAlias alias="crawlerDetailTask" type="com.toney.crawler.collection.model.CrawlerDetailTaskModel" />
		<typeAlias alias="crawlerDetailTaskLog" type="com.toney.crawler.collection.model.CrawlerDetailTaskLogModel" />
	</typeAliases>
</configuration>