<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>商品管理商品---创建商品</title>
<#include "../commons/head.html"/>

</head>
<body>
	<div class="yui3-g">
		<div class="yui3-u" id="menu-main"><#include "../commons/admin-menu.html"></div>
		<div class="yui3-u" id="prd-menu">
			<#include "create-menu.html"/>
		</div>
		<div class="yui3-u" id="prd-main">
			<h3>创建商品--录入商品基本信息</h3>
			<form id="mainForm" action="${rc.getContextPath()}/admin-manager/product/doCreateBaese" method="POST">
				<ul>
					<li><lebal class="title">商品名称:</lebal> <input type="text" name="productName" id="productName" style="width: 540px;height: 25px;"/></li>
					<li><lebal class="title">商品平台商品:</lebal> <select id="platFormCode" name="platFormCode">
												<option value="-1">请选择商品平台商</option>
												
											 </select>
					</li>
					<li>
						<lebal class="title"> 商品类型:</lebal><span id="category"></span>
					</li>
					<li>
						<lebal class="title">商品链接:</lebal><input size="120" type="text"/><input type="button" name="preview_url" id="preview_url" value=" 游 览 "/>
					</li>
					<li>	
						<lebal class="title">商品上传用户:</lebal><select id="uploadUid" name="uploadUid">
											 	<option value="-1">请选择上传用户</option>
										    </select>
					</li>
					<li><lebal class="title">商品所在城市:</lebal><span id="area"></span>
					</li>
					<li></li>
				</ul>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="${appConfigs("static_site_url").cfgValues}/static/js/area.js"></script>
	<script type="text/javascript" src="${appConfigs("static_site_url").cfgValues}/static/js/cat.js"></script>
	<script type="text/javascript">
		$(function(){
			Iarea.setup("area");	
			Icat.setup("category");	
		})
	</script>
</body>
</html>