<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<#include "../commons/head.html"/>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>商品管理列表</title>
</head>
<body>
	<div class="yui3-g">
		<div class="yui3-u-1-6" id="menu-main"><#include "../commons/admin-menu.html"></div>
		<div class="yui3-u-5-6 prd-main" id="prd-main" width="100%">
			<h3 class="crumb-title">商品列表</h3>
			<div class="error-msg">
				<#if errorMessage??>
					<ul class="ul">
						<#list errorMessage?keys as key>
							<li>
								<span class="error-detail" style="color: red">${errorMessage[key]}</span>
							</li>
						</#list>
					</ul>
				</#if>
			</div>
			<form action="${rc.getContextPath()}/admin-manager/product/searchProduct" method="GET" id="searchForm">
				<input type="hidden" name="catCode" id="catCode" value=""/>	
				<div class="search-filter" style="border-color: gray;">
					<ul class="">
						<li>
							<lebal class="title">名称:</lebal> 
							<span><input name="title" id="title" value="" style="width: 180px;height: 18px;border: #000 1px solid;"/></span>
						</li>
						<li>
							<lebal class="title">分类:</lebal> 
							<span id="category"></span>
						</li>
					</ul>
					<ul>
						<li><lebal class="title">商品所在城市:</lebal><span id="area"></span></li>
					</ul>
					<div style="text-align: center;vertical-align: bottom;margin: 5px 0px 0px 0px;"><input type="submit" value=" 查 询 " style="height: 25px;width: 150px;font-size: 11pt;"/></div>		
				</div>
			</form>
			<div style="background-color: #F0F0F0;">
			<table width="100%" class="med-table">
				<thead>
					<tr class="th-extra">
						<th colspan="6" align="left"><input type="checkbox" id="selectAll" name="selectAll" />&nbsp;&nbsp;全选&nbsp;
						 <input type="button" id="addProduct" name="addProduct" value=" 新增商品 " /> 
						 <input type="button" id="delProduct" name="addProduct" value=" 批量删除 " /></th>
					</tr>
					<tr>
						<th width="15"></th>
						<th width="55">ID</th>
						<th>商品名称</th>
						<th width="85">平台</th>
						<th width="85">状态</th>
						<th width="85">操作</th>
					</tr>
				</thead>
			</table>
			<table width="100%" class="med-table " style="background-color: #FFFFFF;">
				<tbody>
					<#if prdPage??>
						<#list prdPage.result as item>
							<tr>
								<td width="15" align="center"><input type="checkbox" id="selectOne" name="selectOne" value="${item.id}"/></td>
								<td width="55">${item.id}</td>
								<td align="left">
									<div class="list-info">
										
										<a class="pic"><img src="http://img01.taobaocdn.com/bao/uploaded/i1/T17SV3XmJbXXXlLos9_105055.jpg_sum.jpg" onerror="this.src='http://img02.taobaocdn.com/tps/i2/T1eUdPXXJCXXXXXXXX-80-80.gif'"></a>
										<a>${item.productName}</a>
										<p>商品编码：${item.produceCode}</p>
										<p></p>
									</div>
								</td>
								<td width="85">${(item.platformName)!}</td>
								<td width="85">${(item.onsale==1)?string('上架','下架')}</td>
								<td width="85">
									<p>删除</p>
									<p>上架</p>
									<p>编辑</p>
									<p>本站浏览</p>
									<p>原站链接</p>
								</td>
							</tr> 
						</#list>
					</#if>
				</tbody>
			</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="${appConfigs("static_site_url").cfgValues}/static/js/area.js"></script>
	<script type="text/javascript" src="${appConfigs("static_site_url").cfgValues}/static/js/cat.js"></script>
	<script type="text/javascript">
		$(function() {
			Iarea.setup("area");
			Icat.setup("category");
			
			$("#addProduct").bind("click",function(){
				window.open("${rc.getContextPath()}/admin-manager/product/baseInfo");	
			});
			$("#searchForm").submit(function(){
				$(".error-msg").hide();
				$(".error-detail").each(function(){
					$(this).text("");
				})
				var catCode="";
				$("#category").find("select").each(function(){
					if($(this).val().length>catCode.length){
						catCode=$(this).val();
					}
				});
				if(catCode==''||catCode=='-1'){
					alert("请选择分类!!");
					return false;
				}
				$("#catCode").val(catCode);
			});
		})
	</script>
</body>
</html>