<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
	<bean id="tplMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="cacheSeconds" value="0" />
		<property name="basenames">
			<list>
				<value>/WEB-INF/languages/tpl/messages</value>
			</list>
		</property>
	</bean>

	<!-- end -->
	<bean id="servletContextResolver" class="com.toney.publish.context.ServletContextResolverImpl" />
	<!--标签 -->
	<bean id="channel_list" class="com.toney.publish.tpl.tag.ChannelListTag" />
	<bean id="art_list" class="com.toney.publish.tpl.tag.ArticleListTag" />
	<bean id="global_param" class="com.toney.publish.tpl.tag.SiteGlobalTag" />


	<!-- freemarker user defined -->
	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
	<bean id="beansWrapper" class="freemarker.ext.beans.BeansWrapper">
		<property name="exposureLevel" value="#{T(freemarker.ext.beans.BeansWrapper).EXPOSE_SAFE}" />
	</bean>

	<bean id="appconfigModel" class="com.toney.publish.freemarker.ext.ApacheCommonConfigurationModel">
		<constructor-arg type="freemarker.ext.beans.BeansWrapper" ref="beansWrapper" />
		<constructor-arg type="org.apache.commons.configuration.Configuration" ref="databaseConfiguration" />
	</bean>
	<bean id="staticModel" factory-bean="beansWrapper" factory-method="getStaticModels" />

	<bean id="userAuthInfoHolderModel" factory-bean="staticModel" factory-method="get">
		<constructor-arg type="java.lang.String" value="com.toney.publish.utils.UserAuthInfoHolder" />
	</bean>
	
	
	<bean id="publishPageService" class="com.toney.publish.service.PublishPageServiceImpl">
		<property name="tplMessageSource" ref="tplMessageSource" />
		<property name="tplRootPath" value="${tpl.root.path}" />
		<property name="tplIndexPath" value="${tpl.index.path}" />
		<property name="publishRootPath" value="${publish.root.path}" />
		<property name="freeMarkerConfigurer">
			<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
				<property name="templateLoaderPath" value="" />
				<property name="freemarkerVariables">
					<map>
						<entry key="xml_escape" value-ref="fmXmlEscape" />
						<entry key="appconfig" value-ref="appconfigModel" />
						<entry key="userAuthInfoHolder" value-ref="userAuthInfoHolderModel" />
						<entry key="channel_list" value-ref="channel_list" />
						<entry key="art_list" value-ref="art_list" />
						<entry key="global_param" value-ref="global_param" />
					</map>
				</property>
				<property name="freemarkerSettings">
					<props>
						<prop key="defaultEncoding">UTF-8</prop>
						<prop key="datetime_format">MM/dd/yyyy</prop>
						<prop key="number_format">0.######</prop>
						<prop key="classic_compatible">${freemarker.classic_compatible}</prop>
						<prop key="template_update_delay">${freemarker.template_update_delay}</prop>
						<prop key="template_exception_handler">${freemarker.template_exception_handler}</prop>
					</props>
				</property>
			</bean>
		</property>
	</bean>
	<context:component-scan base-package="com.toney.publish.service" />
</beans>
