<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><@global_param>${global.cfg_webname.cfgValue}</@global_param></title>
		<base target="_blank" />
		<meta name="keywords" content="<@global_param>${global.cfg_description.cfgValue}</@global_param>" />
		<meta name="description" content="<@global_param>${global.cfg_keywords.cfgValue}</@global_param>" />
		<!--#include file="./public/public_head_head.html"-->
		<link href="${appconfig('url.static_url')}/css/index.css" rel="stylesheet" media="screen" type="text/css" />
		<script type="text/javascript" src="${appconfig('url.static_url')}/js/thirdparty/jquery.cycle.all.js"></script>
		<script type="text/javascript" src="${appconfig('url.static_url')}/js/lazy_load.js"></script>
		<script type="text/javascript">
		<!--
			$(document).ready(function(){
				TONEY.IMAGELAZYLOAD&&TONEY.IMAGELAZYLOAD(".grid_16 img");
				$(".arrow_point").prepend("<img src=\"${appconfig('url.static_url')}/img/arrow_point.gif\" />"); 
		    	$(".show-slides").cycle({fx: "fade", speed: 1000, timeout: 6000, pause: true, prev: "#show_prev", next: "#show_next"});
				
				lazy_onload('js', '${appconfig("url.static_url")}/js/thirdparty/jquery.fancybox.pack.js');
				lazy_onload('css', '${appconfig("url.static_url")}/css/jquery.fancybox.css');
				
				$(".fancy").fancybox({'autoScale': false, titlePosition: "inside",
					'onComplete': function(){_gaq.push(['_trackEvent','View','FancyBox', this.title]);}
				});
				
				
			});
		// -->
		</script>
	</head>
	<body>
		<!--#include file="./public/public_head_nav.html"-->
		<div id="main_content" class="container_16 clearfix" style="margin-top:8px;">
			<div class="grid_6">
				<h2><b>天天精彩</b> | 美味从这里开始 </h2>
				<dl class="index_ttjc_dl clearfix">
					<!--dt><a target="_blank" href="http://www.meishij.net/yingyangtaocan.php?id=666">早餐新吃法 让你赞不绝口</a></dt-->
					<dd class="con">
						<a target="_blank" href="http://www.meishij.net/zuofa/doujiangtangyuan.html" class="img"><img alt="豆浆汤圆" width="90" height="90" src="http://images.meishij.net/p/20120206/4854105f14a26e5adc4463a04bdf96a9_60x60.jpg"></a><div class="r"><h4><a target="_blank" href="http://www.meishij.net/zuofa/doujiangtangyuan.html">豆浆汤圆</a></h4><p>黄豆能有效地改善皮肤衰老
						</p></div>
					</dd>
					<dd class="line"></dd>
					<dd class="con">
						<a target="_blank" href="http://www.meishij.net/zuofa/fengmisongbing.html" class="img"><img alt="蜂蜜松饼" width="90" height="90" src="http://images.meishij.net/p/20120628/6f88cce0db08d3c8abecffebae7527dc_60x60.jpg"></a><div class="r"><h4><a target="_blank" href="http://www.meishij.net/zuofa/fengmisongbing.html">蜂蜜松饼</a></h4><p>蜂蜜能改善血液的成分，促进心脑和血管功能
						</p></div>
					</dd>
					<dd class="line"></dd>
					<dd class="con">
						<a target="_blank" href="http://www.meishij.net/zuofa/zhishijutudouni_4.html" class="img"><img alt="芝士焗土豆泥" width="90" height="90" src="http://images.meishij.net/p/20120731/dc00d96c98eb34cdd2a2a1a065d40c86_60x60.jpg"></a><div class="r"><h4><a target="_blank" href="http://www.meishij.net/zuofa/zhishijutudouni_4.html">芝士焗土豆泥</a></h4><p>土豆有很好的呵护肌肤、保养容颜的功效
						</p></div>
					</dd>
				</dl>
			</div>
			<div class="grid_10 ">
				<div class="slide-show">
			      <ul class="show-slides" style="position: relative; width: 592px; height: 360px; ">
			      	
		            <li style="background-image: url(http://simplifiedsafety.com/images/uploads/keewalk-front-graphic-2.jpg); position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 590px; height: 358px; " class="round-slide-wrap"> <a href="/solutions/keewalk-rooftop-walkway/"><img src="http://simplifiedsafety.com/images/uploads/keewalk-front-graphic-2.jpg" alt="Fall Protection" class="round-slide"></a>
			          <div class="slide-details">
		                <h3>Safe Rooftop Walkway System</h3>
		                <p></p><p>KeeWalk is an innovated rooftop walkway system that allows you to walk on a flat surface on inclined roofs.&nbsp; 
						</p><p></p>
		              </div>
			        </li>
			           
		            <li style="background-image: url(http://simplifiedsafety.com/images/uploads/rooftop-railing-front.jpg); position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 1; width: 590px; height: 358px; " class="round-slide-wrap"> <a href="/solutions/keeguard/"><img src="http://simplifiedsafety.com/images/uploads/rooftop-railing-front.jpg" alt="Fall Protection" class="round-slide"></a>
			          <div class="slide-details">
		                <h3>Non-Penetrating Rooftop Safety Railing</h3>
		                <p></p><p>Rooftop safety railing that will not penetrate your roof membrane.&nbsp; Easy to install and exceeds OSHA fall protection standards.
						</p><p></p>
		              </div>
			        </li>
			           
		            <li style="background-image: url(http://simplifiedsafety.com/images/uploads/keeline-front-page.jpg); position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 590px; height: 358px; " class="round-slide-wrap"> <a href="/solutions/category/fall-protection-lifeline-systems/"><img src="http://simplifiedsafety.com/images/uploads/keeline-front-page.jpg" alt="Fall Protection" class="round-slide"></a>
			          <div class="slide-details">
		                <h3>Horizontal Lifeline Systems</h3>
		                <p></p><p>Fall arrest systems for every roof type.&nbsp; Learn more about our engineered lifeline systems.
						</p><p></p>
		              </div>
			        </li>
		          </ul>
			      <div class="slide-show-nav"> <a href="javascript:void(0);" id="show_next">Next</a> <a href="javascript:void(0);" id="show_prev">Previous</a> </div>
			    </div>
			</div>
			<div class="grid_16 ">
			
				<div class="more_goods clear_in">
						<dl class="clear_in">
<dt><a target="_blank" href="http://www.mogujie.com/book/clothing/%E4%B8%8A%E8%A1%A3?fcid=1173">最爱</a></dt>
    <dd> 
        <p style="width:216px;">
            
<a class="l" href="http://www.mogujie.com/book/clothing/%E4%B8%8A%E8%A1%A3/1/pop/all?lady=0&amp;fcid=1931" target="_blank">雪纺衫</a>   


<a class="" href="http://www.mogujie.com/book/clothing/%E4%B8%8A%E8%A1%A3/1/pop/all?lady=0&amp;fcid=2389" target="_blank">防晒衫</a>   


<a class="l" href="http://www.mogujie.com/book/clothing/%E4%B8%8A%E8%A1%A3/1/pop/all?lady=0&amp;fcid=1295" target="_blank">马甲</a>   


<a class="" href="http://www.mogujie.com/book/clothing/%E4%B8%8A%E8%A1%A3/1/pop/all?lady=0&amp;fcid=1310" target="_blank">蕾丝衫</a>   


<a class="" href="http://www.mogujie.com/book/clothing/%E5%86%85%E8%A1%A3/1/pop/all?lady=0&amp;fcid=1176" target="_blank">内衣</a>   


<a class="" href="http://www.mogujie.com/book/clothing/%E8%A1%A3%E6%9C%8D/1/hot30day/all?color=&amp;fcid=2701&amp;childid=0&amp;childname=&amp;minPrice=&amp;maxPrice=" target="_blank">薄外套</a>   


<a class="l" href="http://www.mogujie.com/book/clothing/%E4%B8%8A%E8%A1%A3/1/pop/all?lady=0&amp;fcid=1291" target="_blank">罩衫</a>   


<a class="" href="http://www.mogujie.com/book/clothing/%E4%B8%8A%E8%A1%A3/1/pop/all?lady=0&amp;fcid=3158" target="_blank">娃娃衫</a>   


<a class="l" href="http://www.mogujie.com/book/clothing/%E4%B8%8A%E8%A1%A3/1/pop/all?lady=0&amp;fcid=1298" target="_blank">打底衫</a>   


<a class="" href="http://www.mogujie.com/book/clothing/%E4%B8%8A%E8%A1%A3/1/pop/all?lady=0&amp;fcid=1293" target="_blank">西装</a>   


<a class="" href="http://www.mogujie.com/book/clothing/%E4%B8%8A%E8%A1%A3?fcid=1296" target="_blank">皮衣</a>   


        </p>           
    </dd>
</dl>

<dl class="clear_in">
    <dt><a target="_blank" href="http://www.mogujie.com/book/clothing/%E8%A3%A4%E5%AD%90?fcid=1175">分类</a></dt>
    <dd> 
        <p>
            <a class="l" href="http://www.mogujie.com/book/clothing/%E8%A3%A4%E5%AD%90/1/pop/all?lady=0&amp;fcid=1395" target="_blank">牛仔裤</a>   

<a class="" href="http://www.mogujie.com/book/clothing/%E8%A3%A4%E5%AD%90/1/pop/all?lady=0&amp;fcid=1396" target="_blank">铅笔裤</a>   

<a class="" href="http://www.mogujie.com/book/clothing/%E8%A3%A4%E5%AD%90/1/pop/all?lady=0&amp;fcid=1389" target="_blank">哈伦裤</a>   

<a class="l" href="http://www.mogujie.com/book/clothing/%E8%A1%A3%E6%9C%8D/1/pop/all?lady=0&amp;fcid=2698" target="_blank">牛仔短裤</a>   

<a class="" href="http://www.mogujie.com/book/clothing/%E8%A3%A4%E5%AD%90?fcid=1394" target="_blank">运动裤</a>   

        </p>           
    </dd>
</dl><dl class="clear_in">
    <dt><a target="_blank" href="http://www.mogujie.com/book/clothing/%E8%A3%99%E5%AD%90?fcid=1174">食材</a></dt>
    <dd> 
        <p>
            <a class="" href="http://www.mogujie.com/book/clothing/%E8%A3%99%E5%AD%90/1/pop/all?lady=0&amp;fcid=3077" target="_blank">沙滩裙</a>   

<a class="l" href="http://www.mogujie.com/book/clothing/%E8%A3%99%E5%AD%90/1/pop/all?lady=0&amp;fcid=1342" target="_blank">短裙</a>   

<a class="" href="http://www.mogujie.com/book/clothing/%E8%A3%99%E5%AD%90/1/pop/all?lady=0&amp;fcid=1334" target="_blank">半身裙</a>   

<a class="l" href="http://www.mogujie.com/book/clothing/%E8%A3%99%E5%AD%90/1/pop/all?lady=0&amp;fcid=1333" target="_blank">连衣裙</a>   

        </p>           
    </dd>
</dl><dl class="clear_in">
        <dt><a target="_blank" href="http://www.mogujie.com/book/clothing/">养生</a></dt>
    <dd> 
        <p>
            <a class="" href="http://www.mogujie.com/book/clothing/%E8%A1%A3%E6%9C%8D/1/pop/all?lady=0&amp;fcid=2264" target="_blank">冰淇淋色</a>   

<a class="l" href="http://www.mogujie.com/book/clothing/%E6%B5%81%E8%A1%8C%E5%85%83%E7%B4%A0/1/pop/all?lady=0&amp;fcid=1251" target="_blank">蕾丝</a>   

<a class="l" href="http://www.mogujie.com/book/clothing/%E8%A1%A3%E6%9C%8D/1/pop/all?lady=1&amp;fcid=1263" target="_blank">欧美</a>   

<a class="" href="http://www.mogujie.com/book/clothing/%E6%B5%81%E8%A1%8C%E5%85%83%E7%B4%A0/1/pop/all?lady=0&amp;fcid=3156" target="_blank">露肩</a>   

<a class="" href="http://www.mogujie.com/book/clothing/%E8%A1%A3%E6%9C%8D?fcid=1248" target="_blank">宽松</a>   

        </p>           
    </dd>
</dl>	
					</div>
			</div>
			<div class="grid_16 alpha omega index_list lazybox">
				<h2>最新</h2>
				<ul>       
	                <li>
		                <a href="http://home.meishichina.com/recipe-91540.html" title="黄金面包圈" target="_blank">
		                    <img src="${appconfig('url.static_url')}/img/loading.gif" ori-src="http://i3.meishichina.com/attachment/recipe/2012/09/25/20120925172354357967243.jpg" width="120" height="90" border="0"></a><br/>
		                <span> <a href="http://home.meishichina.com/recipe-91540.html" title="黄金面包圈" target="_blank">黄金面包圈</a></span>
		                <span class="redblack"><a title="金娃美食" href="http://home.meishichina.com/space-2206349.html" target="_blank">金娃美食</a></span>
		                <span style="height:26px;line-height:20px"> 3小时前</span>
	                </li>
	                <li>
		               <a href="http://home.meishichina.com/recipe-91547.html" title="凉拌绿豆芽" target="_blank">
		                   <img src="${appconfig('url.static_url')}/img/loading.gif" ori-src="http://i3.meishichina.com/attachment/recipe/2012/09/25/20120925164936144692239.jpg" width="120" height="90" border="0"></a><br>
		               <span> <a href="http://home.meishichina.com/recipe-91547.html" title="凉拌绿豆芽" target="_blank">凉拌绿豆芽</a></span>
		               <span class="redblack"><a title="小雨濛濛" href="http://home.meishichina.com/space-5982344.html" target="_blank">小雨濛濛</a></span>
		               <span style="height:26px;line-height:20px"> 4小时前</span>
	               </li>
	                                       <li>
	               <a href="http://home.meishichina.com/recipe-91516.html" title="苦瓜盅" target="_blank">
	                   <img src="${appconfig('url.static_url')}/img/loading.gif" ori-src="http://i3.meishichina.com/attachment/recipe/2012/09/25/20120925164243112250354.jpg" width="120" height="90" border="0"></a><br>
	               <span> <a href="http://home.meishichina.com/recipe-91516.html" title="苦瓜盅" target="_blank">苦瓜盅</a></span>
	               <span class="redblack"><a title="池上小米" href="http://home.meishichina.com/space-2252940.html" target="_blank">池上小米</a></span>
	               <span style="height:26px;line-height:20px"> 4小时前</span>
	               </li>
	                                       <li>
	               <a href="http://home.meishichina.com/recipe-91542.html" title="老式蜂蜜蛋糕" target="_blank">
	                   <img src="${appconfig('url.static_url')}/img/loading.gif" ori-src="http://i3.meishichina.com/attachment/recipe/2012/09/25/20120925161802449941559.jpg" width="120" height="90" border="0"></a><br>
	               <span> <a href="http://home.meishichina.com/recipe-91542.html" title="老式蜂蜜蛋糕" target="_blank">老式蜂蜜蛋糕</a></span>
	               <span class="redblack"><a title="雨中的叶子" href="http://home.meishichina.com/space-2176600.html" target="_blank">雨中的叶子</a></span>
	               <span style="height:26px;line-height:20px"> 4小时前</span>
	               </li>
	                                       <li>
	               <a href="http://home.meishichina.com/recipe-91539.html" title="松茸瘦肉汤" target="_blank">
	                   <img src="${appconfig('url.static_url')}/img/loading.gif" ori-src="http://i3.meishichina.com/attachment/recipe/2012/09/25/2012092516150776546260.jpg" width="120" height="90" border="0"></a><br>
	               <span> <a href="http://home.meishichina.com/recipe-91539.html" title="松茸瘦肉汤" target="_blank">松茸瘦肉汤</a></span>
	               <span class="redblack"><a title="莫言catlam" href="http://home.meishichina.com/space-5957501.html" target="_blank">莫言catlam</a></span>
	               <span style="height:26px;line-height:20px"> 4小时前</span>
	               </li>
	                                       <li>
	               <a href="http://home.meishichina.com/recipe-91522.html" title="金银蒜鲜虾煲饭" target="_blank">
	                   <img src="${appconfig('url.static_url')}/img/loading.gif" ori-src="http://i3.meishichina.com/attachment/recipe/2012/09/25/20120925152234812044827.jpg" width="120" height="90" border="0"></a><br>
	               <span> <a href="http://home.meishichina.com/recipe-91522.html" title="金银蒜鲜虾煲饭" target="_blank">金银蒜鲜虾煲饭</a></span>
	               <span class="redblack"><a title="热情幸福的眼泪" href="http://home.meishichina.com/space-2245909.html" target="_blank">热情幸福的眼泪</a></span>
	               <span style="height:26px;line-height:20px"> 5小时前</span>
	               </li>
	                                 <li>
	               <a href="http://home.meishichina.com/recipe-91505.html" title="芥辣黑鱼" target="_blank">
	                   <img src="${appconfig('url.static_url')}/img/loading.gif" ori-src="http://i3.meishichina.com/attachment/recipe/2012/09/25/20120925151707984539464.jpg" width="120" height="90" border="0"></a><br>
	               <span> <a href="http://home.meishichina.com/recipe-91505.html" title="芥辣黑鱼" target="_blank">芥辣黑鱼</a></span>
	               <span class="redblack"><a title="芹意随心" href="http://home.meishichina.com/space-1963607.html" target="_blank">芹意随心</a></span>
	               <span style="height:26px;line-height:20px"> 5小时前</span>
	               </li>
               </ul>
			</div>
			<div class="grid_16 alpha omega index_list lazybox">
				<h2>最热</h2>
				<@art_list orderby='click' row='7' arctag='f'>
				<li>
	               <a href="http://home.meishichina.com/recipe-91505.html" title="芥辣黑鱼" target="_blank">
	                   <img src="${appconfig('url.static_url')}/img/loading.gif" ori-src="http://i3.meishichina.com/attachment/recipe/2012/09/25/20120925151707984539464.jpg" width="120" height="90" border="0"></a><br>
	               <span> <a href="http://home.meishichina.com/recipe-91505.html" title="芥辣黑鱼" target="_blank">芥辣黑鱼</a></span>
	               <span class="redblack"><a title="芹意随心" href="http://home.meishichina.com/space-1963607.html" target="_blank">芹意随心</a></span>
	               <span style="height:26px;line-height:20px"> 5小时前</span>
               	</li>
				</@art_list>
			</div>
			<div class="grid_16 alpha omega index_list lazybox">
				<h2>推荐</h2>
			</div>
			<div class="grid_16 alpha omega index_list lazybox">
				<h2>最关注</h2>
			</div>
		</div>
		<#include "../include/footer.html"/>
	</body>
</html>

