<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
		<!-- JdbcType enumeration. Most common are: NULL, VARCHAR and OTHER -->
		<setting name="jdbcTypeForNull" value="NULL" />	
	</settings>
	<typeAliases>
		<typeAlias alias="user" type="com.toney.core.model.User" />
		<typeAlias alias="channelType" type="com.toney.core.model.ChannelTypeModel" />
		<typeAlias alias="channel" type="com.toney.core.model.ChannelDetailModel" />
		<typeAlias alias="article" type="com.toney.core.model.ArticleModel" />
		<typeAlias alias="articleBase" type="com.toney.core.model.ArticleBaseModel" />
		<typeAlias alias="articleExtend" type="com.toney.core.model.ArticleExtendModel" />
		<typeAlias alias="articleTiny" type="com.toney.core.model.ArticleTinyModel" />
		<typeAlias alias="articleSysTag" type="com.toney.core.model.ArticleSysTagModel" />
		<typeAlias alias="area" type="com.toney.core.model.AreaModel" />
		<typeAlias alias="administrator" type="com.toney.core.model.AdministratorModel" />
		<typeAlias alias="sysConfig" type="com.toney.core.model.SysConfigModel" />
		<typeAlias alias="templateManager" type="com.toney.core.model.TemplateManagerModel" />
	</typeAliases>
	<!-- <mappers> <mapper resource="sqlmaps/UserSQL.xml" /> </mappers> -->
</configuration>