<!DOCTYPE html>
<html>
	<head>
		<title>首页出版</title>
		<#include "../common/sys_head.ftl">
		<script type="text/javascript" src="${staticUrl}/js/publish/publish.js"></script>
	</head>
	<body>
		<div align="center">
			<input title="出版首页" type="button" value=" 出版首页 " id="publish_index"/>
		</div>
	</body>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#publish_index").bind("click",function(){
				publish.publish_index(this);				
			});
			
		});
	</script>
</html>