<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
	default-autowire="byName">
	<bean id="lotteryService" class="com.lyxmq.lottery.ssq.LotteryService">
		<property name="dao" ref="lotteryDao" />
		<property name="lotterySsqMediaService" ref="lotterySsqMediaService"></property>
		<property name="lotterySsqOtherCommendService" ref="lotterySsqOtherCommendService"></property>
	</bean>
	<bean id="initLotteryService" class="com.lyxmq.lottery.ssq.LotteryInitService">
		<property name="dao" ref="lotteryDao" />
		<property name="lotterySsqMediaService" ref="lotterySsqMediaService"></property>
	</bean>
	<bean id="lotterySsqConfigService" class="com.lyxmq.lottery.ssq.LotterySsqConifgService">
	</bean>
	<bean id="lotterySsqMediaService" class="com.lyxmq.lottery.ssq.LotterySsqMediaService">
		<property name="dao" ref="lotteryDao" />
	</bean>
	<bean id="lotterySsqOtherCommendService" class="com.lyxmq.lottery.ssq.LotterySsqOtherCommendService">
		<property name="dao" ref="lotteryDao" />
	</bean>
</beans>	