<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
	default-autowire="byName" default-lazy-init="false">
	<bean id="lotteryService" class="com.lyxmq.lottery.ssq.LotterySsqService">
		<property name="dao" ref="lotteryDao" />
		<property name="lotterySsqMedia500WanService" ref="lotterySsqMedia500WanService"></property>
		<property name="lotterySsqMediaSinaService" ref="lotterySsqMediaSinaService"></property>
		<property name="lotterySsqFileService" ref="lotterySsqFileService"></property>
		<property name="lotterySsqCustomerDyjService" ref="lotterySsqCustomerDyjService"></property>
		<property name="lotterySsqCustomer500WanService" ref="lotterySsqCustomer500WanService"></property>
	</bean>
	<bean id="initLotteryService" class="com.lyxmq.lottery.ssq.LotteryInitService">
		<property name="dao" ref="lotteryDao" />
		<property name="lotterySsqMedia500WanService" ref="lotterySsqMedia500WanService"></property>
	</bean>
	<bean id="lotterySsqConfigService" class="com.lyxmq.lottery.ssq.LotterySsqConifgService">
	</bean>
	<bean id="lotterySsqMedia500WanService" class="com.lyxmq.lottery.ssq.LotterySsqMedia500WanService">
		<property name="dao" ref="lotteryDao" />
	</bean>
	<bean id="lotterySsqMediaSinaService" class="com.lyxmq.lottery.ssq.LotterySsqMediaSinaService">
		<property name="dao" ref="lotteryDao" />
	</bean>
	<bean id="lotterySsqFileService" class="com.lyxmq.lottery.ssq.LotterySsqFileService">
		<property name="dao" ref="lotteryDao" />
	</bean>
	<bean id="lotterySsqCustomerDyjService" class="com.lyxmq.lottery.ssq.LotterySsqCustomerDyjService">
		<property name="dao" ref="lotteryDao" />
	</bean>
	<bean id="lotterySsqCustomer500WanService" class="com.lyxmq.lottery.ssq.LotterySsqCustomer500WanService">
		<property name="dao" ref="lotteryDao" />
	</bean>
	<bean id="lotteryFetchService" class="com.lyxmq.lottery.ssq.LotterySsqFetchService">
		<property name="dao" ref="lotteryDao" />
		<property name="lotterySsqCustomerDyjService" ref="lotterySsqCustomerDyjService"></property>
		<property name="lotterySsqCustomer500WanService" ref="lotterySsqCustomer500WanService"></property>
	</bean>
</beans>	