.index_ttjc_dl {
	width: 340px;
}

.index_zzw_more {
	line-height: 30px;
	text-align: right;
	float: right;
	color: #F12C2C;
}

.index_zzw_more:hover {
	text-decoration: underline;
}

.index_ttjc_dl dd {
	float: left;
	width: 340px;
	margin: 10px 0px 0px 0px
}

.index_ttjc_dl dd.con {
	width: 340px;
}

.index_ttjc_dl dd.line {
	border-bottom: 1px dashed #CCC;
	clear: both;
}

.index_ttjc_dl dd.con a.img {
	width: 90px;
	height: 90px;
	display: block;
	float: left;
}

.index_ttjc_dl dd.con a.img img {
	width: 90px;
	height: 90px;
	display: block;
}

.index_ttjc_dl dd.con div.r {
	float: left;
	padding-left: 10px;
	width: 240px;
}

.index_ttjc_dl dd.con div.r h4 {
	height: 20px;
	line-height: 20px;
}

.index_ttjc_dl dd.con div.r a {
	font-weight: bold;
	color: #434343;
}

.index_ttjc_dl dd.con div.r a:hover {
	text-decoration: underline;
}

.index_ttjc_dl dd.con div.r p {
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	color: #5c5c5c;
}
/*重要标签*/
.more_goods {
	height: 60px;
	margin: 20px 0 10px;
	position: relative;
	border: 1px solid #E7E7E7;
	background-color: #E7E3E3;
}

.clear_in {
	overflow: hidden;
	zoom: 1;
}

.more_goods dl {
	height: 40px;
	margin: 0 20px 0 0;
	float: left;
}

.more_goods dt {
	width: 45px;
	height: 39px;
	/*background-position: -253px -980px;*/
	line-height: 39px;
	text-align: center;
	font-size: 14px;
	float: left;
	margin: 0 5px 0 0;
}

.more_goods dt a {
	display: block;
	color: #70a700;
	font-weight: bold;
}

.more_goods dd {
	float: left;
}

.more_goods dd p {
	height: 37px;
	width: 115px;
	float: left;
	overflow: hidden;
}

.more_goods dd p a {
	color: #555;
	display: inline-block;
	white-space: nowrap;
	float: left;
	margin-right: 10px;
}

.more_goods dd p .l,.more_goods dd p a:hover {
	color: #FF85B4;
}

.more_goods .more_goods_all {
	position: absolute;
	right: 8px;
	top: 0;
	width: 55px;
	height: 37px;
	background-position: right -1030px;
	line-height: 37px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}

.more_goods .more_goods_all span {
	font-weight: normal;
	color: #fff;
}

/*---end*/
.index_list {
	margin: 20px 0px 0px 0px;
}

.index_list h2 {
	border-bottom: 1px solid #DDD;
	padding-bottom: 2px;
	color: #FBB111;
}

.index_list ul {
	
}

.index_list ul li {
	width: 130px;
	float: left;
}

.index_list ul li span {
	width: 130px;
	float: left;
	float: left;
	text-align: center;
	color: #999;
	line-height: 17px;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	color: #999;
	line-height: 17px;
	overflow: hidden;
	white-space: nowrap;
}