<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<#include "../commons/head.html"/>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>系统管理员代理注册</title>
</head>
<body>
<div class="yui3-g">
		<div class="yui3-u" id="menu-main"><#include "../commons/admin-menu.html"></div>
		<div class="yui3-u" id="prd-main">
				<h3>创建新用户</h3>
				<form id="mainForm" action="${rc.getContextPath()}/admin-manager/user/doRegister" method="post">
					<ul>
						<li>
							<select id="userType" name="userType">
								<option value="-1">请选择用户类型</option>
								<option value="0">系统保留用户</option>
								<option value="1">系统管理用户</option>
								<option value="2">普通用户</option>
							</select>
						</li>
						<li>
							用户名:<input name="userName" id="userName" />
						</li>
						<li>
							昵&nbsp;&nbsp;&nbsp;称:<input name="nickName" id="nickName" />
						</li>
						<li>
							密&nbsp;&nbsp;&nbsp;码:<input name="password" id="password" type="password"/>
						</li>
						<li>
							确认密码:<input name="cfmPassword" id="cfmPassword" type="password"/>
						</li>
						<li>
							<br/>
							<input type="submit" id="submit_bnt" name="submit" value="  提  交  "/>
						</li>
					</ul>
				</form>
		</div>
	
	<script type="text/javascript">
		$(function(){
			$("#mainForm").submit(function(){
			})			
		})
	</script>
</body>
</html>