<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
	default-autowire="byName">
	<bean id="ftLotteryService" class="com.lyxmq.lottery.football.LotteryFootballService">
		<property name="footballLotteryDao" ref="ftLotteryDao"/>
		<property name="fileLotteryService" ref="fileLotteryService"/>
		<property name="lotteryFootballMedia500WanService" ref="lotteryFootballMedia500WanService"/>
	</bean>
	<bean id="initLotteryService" class="com.lyxmq.lottery.football.LotteryFootballInitService">
		<property name="footballLotteryDao" ref="ftLotteryDao"/>
	</bean>
	<bean id="fileLotteryService" class="com.lyxmq.lottery.football.LotteryFootballFileService">
		<property name="footballLotteryDao" ref="ftLotteryDao"/>
	</bean>
	<bean id="lotteryFootballMedia500WanService" class="com.lyxmq.lottery.football.LotteryFootballMedia500WanService">
		<property name="footballLotteryDao" ref="ftLotteryDao"/>
	</bean>
	
</beans>	