<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>功能菜单链接</title>
</head>
<body>
		<div class="mc">
			<dl>
				<dt>用户管理</dt>
				<dd><a href="${rc.getContextPath()}/admin-manager/user/proxyRegister">代理注册</a></dd>
			</dl>
			<dl>
				<dt>商品管理</dt>
				<dd><a href="${rc.getContextPath()}/admin-manager/product/list">商品录入</a></dd>
			</dl>
			<dl>
				<dt>系统管理</dt>
				<dd>系统参数配置</dd>
				<dd>缓存管理</dd>
			</dl>
		</div>
</body>
</html>