<!-- <script type="text/javascript" src="${appConfigs("static_site_url").cfgValues}/static/fw/960/assets/css/1200.css"></script>
<link <link rel="stylesheet" href="${appConfigs("static_site_url").cfgValues}/static/css/960_16_col.css"/> -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.0/build/cssgrids/grids-min.css">
<link <link rel="stylesheet" href="${appConfigs("static_site_url").cfgValues}/static/css/admin.css"/>
<script src="${appConfigs("static_site_url").cfgValues}/static/js/lib/jquery-1.9.1.min.js" type="text/javascript"></script>