<!DOCTYPE html>
<html>
	<head>
		<title>首页出版</title>
		<#include "../common/sys_head.ftl">
		<script type="text/javascript" src="${staticUrl}/js/publish/publish.js"></script>
	</head>
	<body>
		<div>
			该部分内容会出版到域名的public目录下.
		</div>
		<div align="center">
			<input title=" 出版公用页头Head部分 " type="button" templateName="public_head_head" groupName="public" value=" 出版公用页头Head部分 " id="publish_head_head"/>
			<input title="出版公用页头导航部分 " type="button"  templateName="public_head_nav" groupName="public" value=" 出版公用页头导航部分 " id="publish_head_nav"/>
			<input title="出版公用页尾JS部分 " type="button"  templateName="public_footer_js" groupName="public" value=" 出版公用页尾JS部分 " id="publish_footer_js"/>
			<input title="出版公用页尾copyright部分 "  templateName="public_footer_cpr" groupName="public" type="button" value=" 出版公用页尾copyright部分 " id="publish_footer_cpr"/>
			<input title="出版公用页尾友情链接等首页使用部分 "  templateName="public_footer_index" groupName="public" type="button" value=" 出版公用页尾友情链接等首页使用部分 " id="public_footer_index"/>
		</div>
	</body>
	<script type="text/javascript">
		$(document).ready(function(){
			$("input[type='button'][groupName='public']").bind("click",function(){
				publish.publish_public(this);				
			});
			
		});
	</script>
</html>